html
  font-size: 62.5%

body
  background: $bg
  font-size: 1.4rem
  line-height: 1.6
  color: $text
  min-width: 320px
  +r($md)
    margin-top: 5.5rem
  +ptsans
  &.is-sticky-header
    .header-scroll
      transform: translateY(0rem)
      visibility: visible
  &.is-open-menu
    +r($md)
      .menu-mob
        visibility: visible
        opacity: 1
      .menu-mob-layout
        visibility: visible
        opacity: 1
      .header__top
          background: $btn-hover
          margin-right: -2rem
      .search__btn
        background: #fff
        .icon
          fill: #8a8a8a
      .burger
        i
          background: transparent
          &:before
            +rotate(45)
            top: 0
            left: 0
            background: #fff
          &:after
            +rotate(-45)
            top: 0
            right: 0
            background: #fff
      .search__input
        background: #fff
        color: $text
        +placeholder
          color: $text
      .logo
        svg
          path
            fill: #fff !important
    .header__top
      +r($xs)
        margin-right: 0


a
  text-decoration: none

input,
button
  font-family: inherit
// TODO fix this code
.l-center
  position: relative
  margin: 0 auto
  padding: 0 2rem
  max-width: 120rem
  +clr
  clear: both
  +r($xs)
    padding: 0


.l-cols
  display: flex
  align-items: stretch
  justify-content: space-between
  &_md-block
    +r($md)
      flex-direction: column
      margin-bottom: 4rem
      +clr
      .l-sidebar
        width: 100%
      .l-main
        padding-right: 0
      .banner-box_img
        display: none
      .banner-box
        float: left
        margin: 0 1rem
        width: calc(50% - 2rem)
        text-align: center
        padding: 3rem 6rem
        .subtitle
          text-align: center
        .btn-feedback,
        .btn-main
          display: inline-block
          min-width: 17.4rem
          width: auto
    +r($xs)
      .banner-box
        float: none
        margin: 2rem 0
        width: 100%
        border-radius: 0
        .subtitle
          text-align: center
        .btn-feedback,
        .btn-main
          display: inline-block
          min-width: 17.4rem
          width: auto

.l-main
  position: relative
  +clr
  padding-right: 2.5rem
  min-width: 0
  min-height: 0
  width: 100%
  padding-bottom: 3rem
  flex: 0 1 auto
  +r($xs)
    padding-right: 0
  &.no-pad-md
    +r($md)
      padding-right: 0

.l-col-1
  float: left
  width: 55%
  +r($lg)
    width: 50%
  +r($xs)
    width: 100%
    float: none
  &.is-100-md
    float: none
    width: 100%
.l-col-2
  overflow: hidden
  padding-left: 3rem
  +r($xs)
    overflow: visible
    padding: 0
  .form
    +r($lg)
      width: 100%
  &.is-100-md
    overflow: visible
    padding-left: 0
    padding-bottom: 3rem
    width: 100%
.l-col-wrap
  +clr
  margin: 0 -1rem
.l-col-3
  float: left
  width: 50%
  padding: 0 1rem
  +r($sm)
    float: none
    width: 100%

.l-sidebar
  //width: 23.6rem
  flex: 0 0 23.6rem
.hidden-md
  +r($md)
    display: none
.hidden-sm
    +r($sm)
      display: none
.visible-md
  display: none
  +r($md)
    display: block
.visible-sm
  display: none
  +r($sm)
    display: block

.section
  border-bottom: 1px solid #fff
  padding: 2.8rem 0
  position: relative
  +clr
  +r($xs)
    padding: 2.8rem 1.5rem
  &_no-border
    border-bottom: none
    padding-bottom: 0
  &_no-border-sm
    +r($sm)
      border: none
      padding-bottom: 0
  &_no-pad-xs
    +r($xs)
      padding-top: 0
  .text-section
    +r($sm)
      margin-bottom: 0


.title
  margin-bottom: 1rem
  color: $text
  display: flex
  align-items: baseline
  justify-content: space-between
  line-height: 1
  &__main
    font-size: 3.5rem
    +blogerM
  &_simple
    font-size: 3.5rem
    +blogerM
  &_sm
    .title__main
      +r($xs)
        font-size: 2.8rem
  &_pad-xs
    +r($xs)
      padding: 0 1.5rem
.title-small
  color: $text
  font-size: 2.8rem
  line-height: 1.2
  +blogerM



.subtitle
  color: $text
  line-height: 1.14
  +blogerM
  font-size: 2.1rem
.link-more
  position: relative
  display: inline-block
  padding-right: 2rem
  color: $text
  font-size: 1.4rem
  line-height: 1
  transition: color, border, .3s
  &:hover
    color: $btn
  &:active
    color: $btn-hover
    span
      border-color: transparent
  span
    display: block
    border-bottom: 1px solid
    transition: border .3s
  &:after
    content: '→'
    position: absolute
    right: 0
    top: 0

.category
  display: block
  margin-bottom: 4rem
  text-align: center
  +trc
  &:hover
    .category__title
      border-color: transparent
      color: $btn
    .icon
      fill: $btn
  &__img
    height: 9rem
    margin-bottom: 1.5rem
    display: block
  .icon
    font-size: 8.1rem
    fill: $icon
    transition: fill .3s
  &__title
    border-bottom: 1px solid $text
    font-size: 1.5rem
    transition: color, border, .3s
    vertical-align: top
    color: $text
  &__bottom
    display: block
    min-height: 6rem
.items-wrap
  width: 100%
  font-size: 0
  .item
    display: inline-block
    vertical-align: top
    width: calc(25% - 2rem)
    margin: 2rem 1rem
    +r($md)
      width: calc(33.3% - 2rem)
      min-height: none
    +r($xs)
      width: calc(50% - 2rem)
    +r($xxs)
      width: 100%
      margin: 2rem 0

.item
  display: block
  margin: 0 1rem
  background: #fff
  border-radius: 5px
  transition: shadow .3s
  position: relative
  &:hover
    +shadow
  &__img
    position: relative
    padding: 55.5% 0
    border-radius: 2px
    overflow: hidden
    img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      object-fit: cover
  &__title
    font-size: 1.8rem
    color: $text
  &__info
    padding: 1.5rem 2rem
  &__badge
    position: absolute
    z-index: 2
    display: block
    height: 3.8rem
    width: 3.8rem
    border-radius: 50%
    background: #fff
    top: -1rem
    right: -1rem
    +vertical
    +r($xxs)
      width: 5.4rem
      height: 5.4rem
    .icon
      font-size: 1.9rem
      fill: $icon
      vertical-align: middle
      +r($xxs)
        font-size: 2.4rem

.categories-slider
  margin-top: 4rem
.items-slider
  padding-bottom: 5rem
  margin-top: 3rem
.items-slider-second
  font-size: 0
  margin: 1.5rem -1rem 0
  +r($md)
    padding-bottom: 3rem

  //.slick-dots
  //  bottom: -3rem
  &__slide
    display: inline-block
    width: 50%
    margin: 1rem 0

.slick-dots
  position: absolute
  left: 0
  right: 0
  bottom: 0
  text-align: center
  li
    display: inline-block
    padding: .3rem
  button
    width: 1rem
    height: 1rem
    +hidetext
    background: transparent
    border: 2px solid $dots-border
    border-radius: 50%
    transition: border, background, .3s
  .slick-active
    button
        border-color: $dots
        background: $dots


.margin-wrap
  padding-top: 4rem
  +r($sm)
    padding-top: 0
.banner-box
  padding: 3rem
  background: #fff
  border-radius: 5px
  margin-bottom: 2rem
  box-shadow: 1px 1.7px 2px rgba(#778685,.11)
  +r($xxs)
    border-radius: 0
  .btn-main
    width: 100%
    margin-top: 2rem
  &_main
    background: $banner
    .subtitle
      color: #fff
  &.is-100
    +r($xs)
      margin: 0 -1.5rem 2rem
      border-radius: 0
  &.visible-sm
    +r($sm)
      border-radius: 0
  &_img
    padding: 0
    overflow: hidden
    display: block
    img
     width: 100%
     height: 100%
     object-fit: cover
     display: block
  +r($sm)
    text-align: center
    padding: 3rem 6rem
    .subtitle
      text-align: center
    .btn-feedback,
    .btn-main
      display: inline-block
      min-width: 17.4rem
      width: auto
  .tel
    margin: .9rem 0 .6rem
.tel
  color: #fff
  font-size: 2.1rem
  +blogerB
  display: inline-block
  transition: color .3s
.btn-feedback
  padding: 1.3rem 1rem 1.2rem
  display: inline-block
  line-height: 1
  font-size: 1.8rem
  border-radius: 30px
  background: #fff
  border: 2px solid #fff
  color: $text
  width: 100%
  margin: .5rem 0 .5rem
  transition: color, background, .3s
  &:hover
    background: transparent
    color: #fff
  &_reverse
    background: transparent
    color: #fff
    &:hover
      background: #fff
      color: $text
.btn-main
  padding: 1.3rem 3.5rem 1.2rem
  display: inline-block
  line-height: 1
  font-size: 2.1rem
  +blogerM
  background: $btn
  border: 2px solid $btn
  border-radius: 30px
  color: #fff
  transition: color, background, .3s
  &:hover
    color: $btn
    background: transparent
  &_second
    background: $btn-hover
    border: 2px solid $btn-hover
    +ptsans
    &:hover
      color: $btn-hover
.posts-wrap
  +clr
.post
  float: left
  width: 50%
  padding-right: 4rem
  margin-bottom: 2.5rem
  +r($sm)
    padding: 0 2rem
  +r($xxs)
    width: 100%
    float: none
    padding: 0
    margin-bottom: 3rem

  &__img
    display: block
    width: 27.6rem
    height: 18rem
    border-radius: 3px
    overflow: hidden
    +r($sm)
      width: 100%
      height: auto

    img
      display: block
      width: 100%
      height: 100%
      object-fit: cover
  &__main
    margin-top: 1.7rem
    height: 13.5rem
    overflow: hidden
    +r($xs)
      height: 14rem
    +r($xxs)
      height: auto
  .meta
    margin-bottom: .7rem
  .text
    margin-top: 1rem
  &_main
    margin-bottom: 0
    +r(480)
      margin-bottom: 3rem
    .post__main
      height: auto
.meta
  color: $dark
  font-size: 1.2rem
  +ptsans
.link
  color: $text
  font-size: 1.5rem
  border-bottom: 1px solid $text
  line-height: 1
  transition: border, color, .3s
  &:hover
    border-color: transparent
  &:active  
    border-color: transparent
    color: $btn

.text
  font-size: 1.3rem
  color: $dark
  +ptsans
  &_med
    img
      float: left
      margin-right: 2.4rem
      border-radius: 3px
      width: 26.2rem
      +r($xxs)
        display: none
    p
      margin-bottom: 2.2rem
    div
      overflow: hidden
      +r($sm)
        overflow: visible
  &_about
    font-size: 1.4rem
    img
      width: 44rem
      margin-right: 2rem
      float: left
      margin-bottom: 1.5rem
      +r($md)
        width: 25rem
      +r($xxs)
        width: 100%
        float: none
        display: block
    p
      margin-bottom: 2.5rem
  &_bigger
    font-size: 1.4rem
    p
      margin-bottom: 2.5rem
      &:last-child
        margin-bottom: 0

.field
  text-align: left
  display: block
  margin-bottom: 1.5rem
  &__name
    font-size: 1.4rem
    color: $dark
    display: block
    +ptsans
    margin-bottom: .6rem
  sub
    color: #ff0000
    font-size: 1.4rem
    +ptsans
  input
    height: 4.2rem
    color: $text
    border: 1px solid $border
    border-radius: 3px
    width: 100%
    padding: 0 2rem
    font-size: 1.6rem
    transition: border .3s
    &:focus
      border-color: $btn-hover
  textarea
    height: 11.2rem
    padding: 1.5rem
    color: $text
    border: 1px solid $border
    border-radius: 3px
    width: 100%
    resize: none
    font-size: 1.6rem


.paginator
  position: relative
  width: 100%
  text-align: center
  font-size: 0
  padding: 2.3rem 0
  li
    display: inline-block
    vertical-align: middle
  a
    display: inline-block
  &__item
    padding: 0 .4rem
    &:hover
      a
        color: $btn
    &:active
      a
        color: #fff
        background: $btn-hover
    &.is-active
      a
        background: $btn-hover
        color: #fff
      &:hover
        a
          color: #fff
          cursor: default
        
      
    a
      height: 2.6rem
      width: 2.6rem
      border-radius: 50%
      background: #fff
      color: $dark
      transition: color, background, .3s
      +vertical
    span
      vertical-align: middle
      display: inline-block
      font-size: 1.2rem
  &__arrs
    padding: 0 1.6rem
    &:hover
      .icon
        fill: $btn
    &:active
      .icon
        fill: $btn
    .icon
      font-size: .5rem
      fill: $btn-hover
      transition: fill .3s
.sssl
  position: relative
  margin-bottom: 1.5rem
  width: 100%
  .dropdown
    background: #fff
  select
    opacity: 0
    position: absolute
  &.is-active
    > ul
      display: block
  &.is-disabled
    opacity: .2
    > span
      cursor: not-allowed
  > span
    position: relative
    display: block
    cursor: pointer
    padding: 0 2.5rem 0 1.1rem
    border: 1px solid $border
    border-radius: 3px
    height: 4.2rem
    line-height: 4.2rem
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    color: darken($border, 15%)
    &:after
      content: ""
      position: absolute
      right: 15px
      top: 50%
      margin-top: -3px
      width: 0px
      height: 0px
      border-style: solid
      border-width: .4rem .35rem 0 .35rem
      border-color: $border transparent transparent transparent
  > ul
    position: absolute
    display: none
    left: 0
    right: 0
    top: 100%
    z-index: 100
    border: 1px solid $border
    border-top: transparent
    padding: 0
    max-height: 200px
    overflow-x: hidden
    overflow-y: auto
    background: #fff
    list-style-type: none
    border-radius: 3px
    li
      padding: .5rem 1.1rem
      cursor: pointer
      line-height: 1
      color: $text
      &:hover,
      &.is-active
        background: $border
        color: #fff



.tabs
  overflow: hidden
  margin-bottom: 2.5rem
  width: 100%
  +r($xs)
    width: auto
    margin: 0 -1.5rem 2.5rem
  &__item
    float: left
    margin-right: .5rem
    +r($xs)
      float: none
      margin: 0 -1.5rem
    &:last-child
      margin-right: 0
      +r($xs)
        .tabs__link
          border: none
    &.is-active
      .tabs__link
        background: $btn
        color: #fff
        +r($xs)
          border-color: $btn
        span
          border-color: transparent
  &__link
    display: block
    color: $text
    transition: border, background, color, .3s
    line-height: 1
    padding: 1.5rem 2.4rem
    background: transparent
    font-size: 1.8rem
    border-radius: 5px 5px 0 0
    +r($xs)
      border-radius: 0
      background: #fff
      border-bottom: 1px solid $bg
    span
      border-bottom: 1px dotted $text
      transition: border .3s
    &:hover
      span
        border-color: transparent
.tabs-content
  display: none
  padding-right: 4.9rem
  +r($sm)
    padding-right: 0
  &.is-active
    display: block




