.footer
  background: #fff
  +clr
  padding: 3rem 2rem 2.5rem
  +r($xs)
    padding: 2.5rem 1.5rem
  .l-center
    padding: 0
  &__left
    float: left
    width: 17%
    +r($md)
      width: 50%
    +r($xs)
      padding-right: 2rem
      font-size: 1.3rem
    +r($mob)
      float: none
      width: 60%
      padding-right: 0
  &__main
    float: left
    width: 38%
    text-align: center
    +r($lg)
      width: 29%
    +r($md)
      width: 50%
      text-align: right
    +r($xs)
      text-align: left
    +r($mob)
      width: 100%
      float: none
      margin: 1.5rem 0

  &__right
    overflow: hidden
    text-align: right
    +r($md)
      text-align: left
      width: 100%
      margin-top: 2rem
      overflow: visible
      float: left
    +r($xs)
      float: none
      clear: both
      margin-top: 0

  &__nav
    +r($xs)
      padding-top: 1rem
      column-count: 2
      width: 100%
    a 
      display: inline-block
      font-size: 1.3rem
      color: $text
      +ptsans
      margin: 0 1rem
      line-height: 1
      transition: color .3s
      +r($xs)
        display: block
        margin: 0 0 1rem 0
      &:first-child
        margin-left: 0
      &:hover
        span
          border-color: transparent
      &:active
        color: $btn
        span
          border-color: transparent
      span
        border-bottom: 1px solid $text
        transition: border .3s
.soc
  display: inline-block
  font-size: 0
  a 
    display: inline-block
    padding: 0 .3rem
    vertical-align: middle
    .icon
      font-size: 2.5rem
      transition: color, fill, .3s
  &__vk
    .icon
      color: $vk
      &:hover
        color: darken($vk,10%)
  &__ig 
    .icon
      fill: $ig 
      &:hover
        fill: darken($ig,10%)
  &__tw 
    .icon
      fill: $tw 
      &:hover
        fill: darken($tw,10%)
  &__fb
    .icon 
      fill: $fb
      &:hover
        fill: darken($fb,10%)