.header
  &__top
    background: #fff
    height: 4.2rem
    line-height: 4.2rem
    transition: margin, background, .3s
    +r($md)
      height: 5.5rem
      line-height: 5.5rem
      position: fixed
      top: 0
      right: 0
      left: 0
      z-index: 30
      min-width: 320px
    +r($xs)
      padding-left: 1.5rem
  &__main
    padding: 3.2rem 0 2.8rem
    +r($md)
      display: none
    .logo
      &:before
        content: ''
        position: absolute
        left: .5rem
        top: 5.5rem
        width: 3px
        height: 3px
        display: none
        border-radius: 50%
        background: #fff
        box-shadow: 0 0 5px 4px rgba(255,255,255,1)
      &:hover
        &:before
          display: block
          animation: pulse .7s linear none infinite
  &__left
    +r($md)
      float: left
  &__right
      +r($md)
        float: right
        display: flex
        +clr
  &_in
    .header__main
      border-bottom: 1px solid #fff

.header-scroll
  position: fixed
  z-index: 30
  top: 0
  left: 0
  right: 0
  visibility: hidden
  transition: transform .3s
  padding: 0
  height: 6.5rem
  line-height: 6.5rem
  transform: translateY(-6.5rem)
  +clr
  box-shadow: -2px 1px 2px rgba(#000,.14)
  background: #fff
  +r($md)
    display: none
  .menu
    margin-top: 0
  .logo
    margin-top: 1rem
  .login
    float: right
    display: block
    width: auto
    padding:  0 2.4rem
    height: 6.5rem
    line-height: 6.5rem
  .contact
    line-height: 1
    margin-top: 1.5rem
    margin-right: 2.8rem
  .contact__link
    font-size: 1.7rem
    line-height: 1
  .contact__title
    line-height: 1.4


.nav
  float: left
  +reg
  font-size: 1.3rem
  &__link
    display: inline-block
    vertical-align: middle
    padding: 0 1.1rem
    color: #675865
    +trc
    &:hover
      color: $btn
    &.is-active
      color: $btn

.search
  position: relative
  float: left
  margin-left: 5.8%
  width: 30%
  +r($lg)
    width: 24%
  +r($md)
    float: none
    order: 1
    width: 80%
    margin-left: 0
  +r($xxs)
    width: 5.4rem

  &__input
    display: block
    padding: 0 3rem
    width: 100%
    height: 4.2rem
    background: #8a8a8a
    font-size: 13px
    color: #fff
    transition: background .3s
    border-radius: 0
    +r($md)
      height: 5.5rem
    +r($xxs)
      width: 0
      padding: 0 2.7rem
    +placeholder
      color: #fff
      font-style: italic
    &:focus
      background: lighten(#8a8a8a,3%)
  &__btn
    position: absolute
    right: 0
    top: 0
    border-radius: 0
    height: 100%
    width: 5.5rem
    background: none
    &:hover
      .icon
        fill: $text
    .icon
      fill: #fff
      font-size: 1.4rem
      transition: fill .3s
      +r($xxs)
        font-size: 2.1rem

.login
  float: right
  height: 4.2rem
  width: 13.4%
  text-align: center
  line-height: 4.2rem
  color: #fff
  background: $btn
  transition: background .3s
  font-size: 1.3rem
  +ptsans
  +r($md)
    order: 2
    height: 5.5rem
    line-height: 5.5rem
    width: 5.4rem
    float: none
  &:hover
    background: $btn-hover
  .icon
    margin-right: .3rem
    font-size: 2.5rem
    fill: #fff
    vertical-align: middle
  span
    vertical-align: middle
    +r($md)
      display: none
  &_hidden
    display: none

.logo
  position: relative
  float: left
  +hide-text
  &.visible-md
    margin-top: .7rem
    margin-left: 2.8rem
  &_sticky
    display: none
  .logo
    svg
      path
        transition: fill .3s

@keyframes pulse
  0%
    transform: translate(0, 0)
  15%
    transform: translate(2.2rem, 0)
  30%
    transform: translate(3rem, -.9rem)
  50%
    transform: translate(3.1rem, 1rem)
  70%
    transform: translate(4.1rem, 0)
  100%
    transform: translate(6.8rem, 0)



.menu
  float: left
  margin: 2.5rem 0 0 5.8%
  color: $text
  +blogerM
  font-size: 1.7rem
  &__item
    display: inline-block
    vertical-align: middle
    margin-right: 1.7rem
    &:last-child
      margin-right: 0
    &.is-active
      .menu__link
        color: $btn
        &:after
          background: transparent
    &.is-dropdown
      position: relative
      padding-right: .6rem
      &:hover
        .menu__link
          color: $btn-hover
          &:after
            background: transparent
        .dropdown-menu
          visibility: visible
          opacity: 1
      &:after
        content: ''
        position: absolute
        +arr(.5,.3,#8a8a8a,b)
        right: 0
        top: 50%
        margin-top: -.25rem
  &__link
    display: block
    position: relative
    padding: 1rem
    line-height: 1
    color: $text
    +trc
    &:hover
      color: $btn 
      &:after
        background: transparent
    &:after
      content: ''
      position: absolute
      bottom: 1rem
      left: 1rem
      right: 1rem
      height: 1px
      background: $text
      transition: background .3s
.dropdown-menu
  position: absolute
  visibility: hidden
  opacity: 0
  transition: opacity .3s
  top: 100%
  background: $btn-hover
  padding: 2.5rem 3.5rem 2.5rem 2.5rem
  column-count: 2
  z-index: 100
  border-radius: 5px
  line-height: 1.5
  &:before
    content: ''
    position: absolute
    top: -.5rem
    left: 2.2rem
    +arr(1.1, .6, $btn-hover,t)
  li
    padding: .4rem 0 .4rem 1.8rem
    position: relative
    &:before
      content: ''
      position: absolute
      width: .8rem
      height: .1rem
      position: absolute
      left: 0
      top: 50%
      background: rgba(#fff, .5)
  a
    display: inline-block
    white-space: nowrap
    color: #fff
    font-size: 1.4rem
    +ptsans
    line-height: 1
    border-bottom: 1px solid rgba(#fff,.8)
    transition: border .3s
    &:hover
      border-color: transparent

.contact
  float: right
  text-align: right
  margin-top: 1.1rem
  &__title
    display: block
    color: #92808f
    font-size: 1.4rem
    +blogerM
  &__link
    color: $btn-hover
    font-size: 2rem
    +ptsans
    +bold
    +trc
    +r($lg)
      font-size: 1.5rem
    &:hover
      color: $btn
.burger
  position: relative
  float: left
  margin-top: 1.9rem
  height: 1.7rem
  width: 2.1rem
  background: none
  &:hover
    i
      background: $btn
      &:before,
      &:after
        background: $btn
  i
    position: absolute
    height: .3rem
    background: $btn-hover
    border-radius: 3px
    left: 0
    right: 0
    top: 50%
    margin-top: -.15rem
    transition: background .3s
    &:before,
    &:after
      content: ""
      position: absolute
      left: 0
      right: 0
      height: .3rem
      background: $btn-hover
      border-radius: 2px
      transition: backgroud, transform, .3s
    &:before
      top: -.7rem
    &:after
      bottom: -.7rem
.menu-mob
  width: 26.5rem
  position: fixed
  background: $btn-hover
  z-index: 20
  top: 0
  left: 0
  bottom: 0
  padding-top: .5rem
  visibility: hidden
  opacity: 0
  transition: opacity .3s
  overflow-y: auto
  a
    display: block
    padding: 3rem 3.6rem
    color: #fff
    background: transparent
    transition: background .3s
    &:active
      background: $btn
.menu-mob-layout
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  background: rgba(#000, .2)
  visibility: hidden
  opacity: 0
  transition: opacity .3s
