.benefits-wrap
  font-size: 0
  margin: 0 -2rem -1.5rem
  +r(768)
    margin-bottom: 2rem

.benefit
  display: inline-block
  vertical-align: top
  padding: 1.5rem 2rem
  width: 33.3%
  +r($md)
    width: 50%
  +r($xxs)
    width: 100%

  &__number
    height: 2.9rem
    width: 2.9rem
    border-radius: 50%
    background: $btn
    padding-top: .4rem
    text-align: center
    margin-bottom: 1rem
    span
      color: #fff
      font-size: 1.6rem
      +blogerM
      display: inline-block

  &__name
    font-size: 1.6rem
    +blogerM
    color: $dark
  &__text
    font-size: 1.3rem
    color: $dark
    +ptsans
.error
  height: calc(100vh - 28.8rem)
  width: 100%
  padding: 0 3rem
  +vertical

  +r($md)
    height: calc(100vh - 18.1rem)
  +r($xs)
    height: calc(100vh - 22.1rem)
  +rh(630)
    height: auto
    padding: 5rem 3rem

  &__in
    display: inline-block
    vertical-align: middle
  &__top
    font-size: 3.5rem
    +blogerM
    color: $text
    +rh(1024)
      font-size: 3rem
    +r($xxs)
      font-size: 2.5rem
  &__number
    font-size: 30rem
    line-height: 1
    color: $btn
    +blogerM
    +rh(1024)
      font-size: 23rem
    +rh(630)
      font-size: 13rem
    +r($xs)
      font-size: 19rem
    +r($xxs)
      font-size: 15rem
  &__text
    font-size: 1.8rem
    color: $dark
    +ptsans
    margin-top: -3rem
    +rh(630)
      margin-top: 0
    +r($xxs)
      margin-top: 0
      font-size: 1.6rem
.offer
  +clr
  position: relative
  margin-bottom: 2rem
  padding-left: 50%
  border-radius: 5px
  overflow: hidden
  +r(530)
    padding-left: 0
  &__img
    position: absolute
    top: 0
    bottom: 0
    left: 0
    width: 50%
    overflow: hidden
    +r(530)
      position: static
      width: 100%
      height: auto
    img
      display: block
      width: 100%
      height: 100%
      object-fit: cover
  &__badge
    padding: 1.6rem 3rem 1.2rem
    position: absolute
    left: 0
    top: 0
    background: $btn-hover
    color: #fff
    line-height: 1
    +ptsans
    +reg
    font-size: 1.6rem
    +r(530)
      top: -4.5rem
    &:before,
    &:after
      content: ""
      position: absolute
      right: -1.3rem
    &:before
      +arr(1.4,2.2,$btn-hover,tl)
      top: 0
    &:after
      +arr(2.2,1.4,$btn-hover,bl)
      bottom: 0
  &__part
    float: right
    background: #fff
    padding: 7rem 3rem 4rem
    position: relative
    min-height: 30.3rem
    +r(530)
      float: none
      min-height: 0
      padding: 2rem 1.5rem
    &:before
      content: ""
      position: absolute
      left: -1.1rem
      top: 50%
      margin-top: -2.1rem
      +arr(1.2,4.2,#fff,l)
      z-index: 1
      +r(530)
        display: none
  .text
    font-size: 1.4rem
    margin-top: 1.7rem
  .link
    font-size: 1.8rem
  &_second
    padding-left: 0
    padding-right: 50%
    +r(530)
      padding-right: 0
    .offer__img
      left: auto
      right: 0
    .offer__part
      float: left
      +r(530)
        float: none
      &:before
        left: auto
        right: -1.1rem
        +arr(1.2,4.2,#fff,r)
        +r(530)
          display: none
.contact-block
  position: relative
  padding-top: 3rem
  +clr
  +r($xs)
    padding: 3rem 1.5rem 0
    display: flex
    flex-direction: column
    margin-bottom: -6rem

  &__text
    max-width: 21rem
    color: $dark
    font-size: 1.4rem
    +r($xs)
      max-width: 75%
    .tel
      color: $dark
      font-size: 1.6rem
      +bold
      margin: .8rem 0 .6rem
      display: block
      &:hover
        color: $btn
      &:active
        color: $btn-hover
  &__name
    color: $text
    +bold
    font-size: 1.4rem
    margin-bottom: .2rem
  &__left
    overflow: hidden
    +r($xs)
      order: 1

  .form
    position: absolute
    left: 0
    top: 0
    z-index: 2
    +r($lg)
      left: auto
      right: 25.8rem
    +r(890)
      right: 0
    +r($xs)
      position: relative
      width: 100%
      margin-top: 1.5rem
  &__sidebar
    position: absolute
    right: 0
    top: 0
    width: 23.6rem
    z-index: 2
    +r(890)
      display: none
  &__right
    float: right
    width: 55%
    position: relative
    +r($lg)
      width: 66%
    +r($md)
      width: 76%
    +r($xs)
      width: 100%
      float: none
      order: 2


.form
  padding: 2.5rem 3rem
  width: 38rem
  background: #fff
  position: relative
  +r($xxs)
    padding: 2.5rem 1.5rem
  &.is-100
    width: 100%
  &:before,
  &:after
    position: absolute
    content: ''
    top: 0
    right: 0
  &:before
    +arr(2.3,2.3,#dcd8d1,bl)
  &:after
    +arr(2.3,2.3,$bg,tr)
  &__name
    color: $text
    font-size: 2.8rem
    +blogerM
    line-height: .85
    margin-bottom: 1.2rem
  &__subname
    font-size: 1.4rem
    +ptsans
    color: $dark
    margin-bottom: 1.8rem
  &__list
    li
      position: relative
      color: $dark
      font-size: 1.4rem
      +ptsans
      padding-left: 3.3rem
      padding-bottom: 3rem
      a
        display: inline-block
        color: $dark
        transition: color .3s
        &:hover,
        &:active
          color: $btn-hover
      i
        position: absolute
        left: 0
        top: 0
        font-style: normal
        width: 2.3rem
        height: 2.3rem
        border-radius: 50%
        background: $btn-hover
        text-align: center
        line-height: 2.3rem
        color: #fff
        font-size: 1.2rem
  &__top
    padding: 3rem 3rem 0
    border-bottom: 1px solid $bg
    margin: 0 -3rem 3rem
.review-slider
  padding-bottom: 2rem
  .slick-dots
    bottom: -2rem
  .title__main
    font-size: 2.8rem
    margin-bottom: 2.5rem
.comment
  margin-bottom: 2.5rem
  &__body
    background: #fff
    padding: 2.5rem 3rem
    box-shadow: 1px 1.7px 2px rgba(#b3b3b3,.41)
    border-radius: 7px
    position: relative
    margin-bottom: 2.3rem
    &:after,
    &:before
      content: ""
      position: absolute
      left: 3rem
    &:after
      z-index: 2
      +arr(1.4,1.5,#fff,tl)
      bottom: -1.4rem
    &:before
      +arr(1.7, 1.8,rgba(#b3b3b3,.18),tl)
      z-index: -1
      bottom: -1.7rem
  .text
    font-style: italic
    color: $dark
    font-size: 1.4rem
    height: 6rem
    +text-overflow
    white-space: normal
    &.is-active
      height: auto
  &__more
    background: transparent
    display: block
    color: $text
    font-size: 1.4rem
    margin: 1rem 0
    &:hover
      span
        border-color: transparent
    span
      border-bottom: 1px dotted $text
      transition: border .3s
    .icon
      font-size: .7rem
      color: #3f2a3c
  &__info
    span
      color: $dark
      display: inline-block
      vertical-align: middle
      line-height: 1
  &__link
    display: inline-block
    vertical-align: middle
    border-bottom: 1px solid $text
    color: $text
    line-height: 1
    transition: border .3s
    &:hover
      border-color: transparent
  &__meta
    color: $dark
    font-size: 1.4rem
.link-list
  margin-bottom: 2rem
  li
    position: relative
    padding: 1rem 0 1rem 2.2rem
    .icon
      position: absolute
      fill: $btn-hover
      font-size: .6rem
      top: 1.7rem
      left: 0
  &__link
    font-size: 1.4rem
    display: block
    color: $text
    transition: color .3s
    &:hover
      span
        border-color: transparent
    &:active
      color: $btn-hover
      span
        border-color: transparent
    span
      border-bottom: 1px solid $text
      transition: border .3s
.text-section
  margin-bottom: 3rem
  +r($sm)
    margin-bottom: 3rem !important
.text-section_second
  margin: 3rem 0 2rem
  +r($sm)
    margin: 0 1.5rem 2rem

.pay-way
  margin-bottom: 3rem
  +r($xs)
    padding: 0 1.5rem
    margin-bottom: 2rem
  &__img
    display: inline-block
    vertical-align: middle
    height: 5.4rem
    margin-right: 2rem
    +r($sm)
      height: 4.2rem
    +r($xxs)
      margin-right: 1rem
    img
      height: 100%
      width: auto
  .text
    margin-bottom: 1.8rem

.accordeon
  width: 100%
  border-radius: 5px
  overflow: hidden
  &__title
    background: #fff
    position: relative
    padding: 1.9rem 2rem 1.3rem
    cursor: pointer
    font-size: 1.6rem
    +ptsans
    margin: 0
    color: $text
    transition: background, color, .3s
    +r($xs)
      font-size: 1.4rem
      padding: 1.7rem 1.5rem .9rem
    &:before
      content: ''
      position: absolute
      bottom: -.1rem
      +arr(2,.5,rgba(#fff,0),t)
      transition: border, top, .3s
      left: 2.4rem
      z-index: 1
      +r($xs)
        display: none
    &.is-opened
      border: none
      background: $btn
      color: #fff
      &:before
        border-color: transparent transparent #fff transparent
      + .accordeon__content
        border-color: $btn
        +r($xs)
          padding-top: .1rem

      .accordeon__plus
        &:before,
        &:after
          +rotate(0)
          background: #fff

  &__plus
    position: absolute
    right: 3rem
    height: 1rem
    top: 50%
    margin-top: -.5rem
    &:before,
    &:after
      content: ''
      position: absolute
      top: 50%
      margin-top: -.1rem
      left: 0
      background: $btn
      width: 1rem
      height: .2rem
    &:after
      +rotate(-90)
      transition: transform .3s
  &__content
    display: none
    background: #fff
    position: relative
    border-bottom: 2px solid transparent
    transition: border .3s
    .table__head
      +r($xs)
        background: $text
        color: #fff
        border: none

  &__section
    border-top: 2px solid $bg
    position: relative
    &:first-child
      border-top: none

.table
  padding: 0 .1rem
  font-size: 1.4rem
  background: #fff
  &_second
    margin: 2.5rem 0 0
    +r($xs)
      margin-top: 1rem
    .table__head
      background: $btn
      color: #fff
  &__head
    color: $dark
    +ptsans
    +bold
    text-align: left
    border-bottom: 1px solid $bg
    th
      padding: 1.4rem 2rem .7rem
      &:nth-child(2n)
        text-align: right
      +r($xs)
        padding: 1.2rem 1.5rem .8rem
  &__row
    td
      padding: .9rem 2rem .6rem
      +r($xs)
        padding: .9rem 1.5rem .6rem
      &:nth-child(2n)
        white-space: nowrap
        vertical-align: middle
    &:nth-child(2n)
      background: $bg
.breadcrumbs
  font-size: 0
  margin: 3rem -1rem 0rem
  +r($xs)
    padding: 0 1.5rem
  &__item
    position: relative
    display: inline-block
    vertical-align: middle
    font-size: 1.2rem
    color: $breadcrumbs
    +ptsans
    line-height: 1
    border-bottom: 1px solid $breadcrumbs
    transition: border, color, .3s
    margin: 0 1rem
    &:hover
      border-color: transparent
    &:active
      color: $btn-hover
    &.is-active
      border-color: transparent
      cursor: default
      &:active
        color: $breadcrumbs
    &:first-child
      &:before
        display: none
    &:before
      content: "/"
      position: absolute
      font-size: 1.2rem
      left: -1rem
      top: 0


      