.block
  display: flex
.slider
  height: 52rem
  overflow: hidden
  border-radius: 5px
  position: relative
  +r($sm)
    height: 37.5rem

  &__slide
    width: 100%
    position: relative
  &__title
    position: absolute
    left: 45%
    top: 13.9rem
    color: $text
    +blogerM
    font-size: 4.5rem
    width: 50%
    line-height: 1.3
    +r($lg)
      width: 45%
    +r($sm)
      font-size: 3rem
    +r($xs)
      left: 5rem
      right: 5rem
      width: auto
    +r($xxs)
      left: 2.8rem
      right: 2.8rem

    span
      background: #fff
      box-shadow: 28px 0 0 0 #fff, -28px 0 0 0 #fff
      padding: 10px 0
      +r($xxs)
        box-shadow: 13px 0 0 0 #fff, -13px 0 0 0 #fff
      padding: 8px 0

  &__img
    position: absolute
    left: 0
    right: 0
    bottom: 0
    top: 0
    img
      display: block
      width: 100%
      height: 100%
      object-fit: cover
  .slick-arrow
    +hidetext
    z-index: 5
    position: absolute
    top: 50%
    margin-top: -3.5rem
    height: 7rem
    width: 7rem
    background: #fff
    &:hover
      .icon
        color: $btn
    .icon
      position: absolute
      font-size: 1.2rem
      color: $text
      top: 50%
      margin-top: -.6rem
      transition: right, left, color, .3s
  .btn-prev
    left: -3.5rem
    border-radius: 0 50% 50% 0
    &:active
      .icon
        right: 2rem
    .icon
      right: 1.8rem
     
  .btn-next
    right: -3.5rem
    border-radius: 50% 0 0 50%
    &:active
      .icon
        left: 2rem
    .icon
      left: 1.8rem
  .slick-dots
     bottom: 1.5rem
     button
      border: 2px solid #fff
  .slick-active
    button
      border-color: $text
      background: $text

.map
  height: 53rem
  +r($xxs)
    height: 68rem
  &_big
    height: 60.6rem
    margin-top: 3rem
    border-top: 1px solid #fff
    +rh(1024)
      height: 47.5rem
    +r($md)
      height: 47.5rem
    +r($xs)
      border: none
      margin: 0
.map-ad
  .l-center
    position: relative
  &__banner
    position: absolute
    z-index: 5
    background: #fff
    padding: 2.7rem 3rem 2.5rem
    right: 0
    top: -3rem
    +r($sm)
      right: 1rem
    +r($xxs)
      position: static
    &:before
      content: ""
      +arr(1.3,1.3,#dcd8d1,bl)
      position: absolute
      right: 0
      top: 0
      +r($xxs)
        display: none
    &:after
      content: ""
      +arr(1.3,1.3,$bg,tr)     
      position: absolute
      top: 0
      right: 0
      +r($xxs)
        display: none
    .title_simple
      line-height: 1
    li 
      color: $dark
      font-size: 1.4rem
      +ptsans
      strong
        +bold
        color: $text
    .tel 
      margin: 1rem 0 1.3rem
      color: $dark
      font-size: 1.6rem
      line-height: 1
      +trc
      +ptsans
      +bold
      &:hover
        color: $btn