.popup
  z-index: 20
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  transition: opacity .3s
  +vertical
  visibility: hidden
  opacity: 0
  overflow-x: hidden
  overflow-y: visible
  &.is-active
    visibility: visible
    opacity: 1
    //.popup__layout
    //  opacity: 1
    //  visibility: visible

  &__layout
    position: fixed
    //visibility: hidden
    //opacity: 0
    top: 0
    bottom: 0
    left: 0
    right: 0
    background: rgba(#000, .1)
    transition: opacity .3s
  &__in
    width: 50%

    text-align: left
    display: inline-block
    vertical-align: middle
    padding: 3.3rem 3.7rem
    background: #fff
    position: relative
    z-index: 20
    box-shadow: 0 0 3px 0 rgba(#000, .26)
    +r($sm)
      width: 70%
    +r($xxs)
      width: 100%
  .btn-main
    margin-top: .5rem
  .title_simple
    padding-right: 3.5rem
    line-height: 1.07
    +r($xs)
      font-size: 2.8rem

.btn-close
  height: 1.7rem
  width: 2.1rem
  position: absolute
  top: 3.7rem
  right: 3.5rem
  display: block
  background: none
  &:hover
    i
      &:before,
      &:after
        background: $btn
  i
    background: transparent
    position: absolute
    height: .3rem
    left: 0
    right: 0
    top: 50%
    margin-top: -.15rem
    &:before
      +rotate(45)
      content: ""
      position: absolute
      top: 0
      left: 0
      right: 0
      background: $btn-hover
      height: .3rem
      border-radius: 2px
    &:after
      +rotate(-45)
      content: ""
      position: absolute
      top: 0
      right: 0
      left: 0
      background: $btn-hover
      height: .3rem
      border-radius: 2px

    