$bg: #f2f2f2
$text: #3f2a3c
$banner: #6d499f
$btn: #e4308e
$btn-hover: #a83393
$dark: #626262
$icon: #a99ca7
$dots: #a83393
$border: #c1c1c3
$dots-border: #dfdfdf
$vk: #7094b9
$ig: #d0c3b0
$tw: #8cd8f3
$fb: #81aed9
$breadcrumbs: #8c8c8c
$lg: 1200
$md: 992
$sm: 768
$xs: 630
$xxs: 480
$mob: 374


+font(BloggerSans-Bold, BloggerSans-Bold)
=blogerB
  font-family: "BloggerSans-Bold", Arial, sans-serif

+font(BloggerSans-Medium, BloggerSans-Medium)
=blogerM
  font-family: "BloggerSans-Medium", Arial, sans-serif

=ptsans
  font-family: 'PT Sans', Arial, Helvetica, sans-serif


=reg
  font-weight: 400

=bold
  font-weight: 700

=trc
  transition: color .3s

=radius
  border-radius: 5px

=shadow
  box-shadow: 1px 1px 2px rgba(119, 134, 133, 0.11)
