---
title: About page
---
{% extends "layouts/_layout.html" %}

{% block content %}
{% include "partials/_header_in.html" %}
<div class="l-center">
    <div class="menu-mob-layout"></div>
    <ul class="menu-mob">
        <li>
            <a href="#">
                Акции
            </a>
        </li>
        <li>
            <a href="#">
                Услуги
            </a>
        </li>
        <li>
            <a href="#">
                Специалисты
            </a>
        </li>
        <li>
            <a href="#">
                Прейскурант
            </a>
        </li>
        <li>
            <a href="#">
                Контакты
            </a>
        </li>
    </ul>
    <div class="l-cols">
        <div class="l-main">
            <section class="section">
                <div class="title">
                    <div class="title__main">О центре</div>
                </div>
                <div class="text text_about">
                    <img src="./img/uploads/img.jpg" align="left" alt="img">
                    <div>
                        <p>
                            Медицинский центр «Пульс» - негосударственная коммерческая медицинская организация, осуществляет свою деятельность с 1998 года согласно лицензии на 67 видов медицинской деятельности.
                        </p>
                        <p>
                            ООО «Пульс» не участвует в реализации Программы государственных гарантий бесплатного оказания гражданам медицинской помощи и Территориальной программы гарантий бесплатного оказания гражданам медицинской помощи. Медцентр организует свою деятельность в соответствии с требованиями:
                        </p>
                        <p>
                            Закона РФ от 07 февраля 1992г. № 2300-1 «О защите прав потребителей»
                        </p>
                        <p>
                            Во исполнение нормативно-правовых Актов Правительства медуслуги оказываются по Договору публичной оферты в соответствии с утвержденными Правилами предоставления платных медицинских услуг. Для защиты персональных данных пациентов разработана Политика в области обработки и защиты персональных данных.
                        </p>
                        <p>
                            «Пульс» - это современная клиника ДЛЯ ТЕХ, КТО ЦЕНИТ РЕПУТАЦИЮ, ЗДОРОВЬЕ И ВРЕМЯ. Мы предлагаем индивидуальный подход и чуткое отношение к каждому клиенту, уютный интерьер, современное оборудование, доступные цены и гибкую систему скидок. С нами Вы забудете об очередях. Пройти все процедуры и сделать необходимые анализы теперь можно в одном месте!
                        </p>
                    </div>
                </div>
            </section>
            <div class="banner-box banner-box_main visible-sm">
                <div class="subtitle">Бесплатная консультация</div>
                <a class="tel" href="tel:+ 7 963 555 10 17">+ 7 963 555 10 17</a>
                <div>
                    <button type="button" class="btn-feedback js-toggle" data-toggle=".js-callback">Перезвоните</button>
                </div>
                <button type="button" class="btn-feedback btn-feedback_reverse js-toggle" data-toggle=".js-ask-form">Задать вопрос</button>
            </div>
            <section class="section section_no-border">
                <div class="title  title_sm">
                    <div class="title__main">
                        Преимущества центра
                    </div>
                </div>
                <div class="benefits-wrap">
                    <div class="benefit">
                        <div class="benefit__number">
                            <span>
                                1
                            </span>
                        </div>
                        <div class="benefit__name">
                            Удобство расположения
                        </div>
                        <div class="benefit__text">
                            Мы находимся в самом центре Москвы, в 5 минутах ходьбы от станции метро «Охотный ряд».
                        </div>
                    </div>
                    <div class="benefit">
                        <div class="benefit__number">
                            <span>
                                2
                            </span>
                        </div>
                        <div class="benefit__name">
                            Широкий спектр предоставляемых услуг
                        </div>
                        <div class="benefit__text">
                            К Вашим услугам операционная, комфортабельный дневной стационар, манипуляционные, перевязочные, оснащенные кабинеты физиотерапии и специалистов, ведущих комплексные приемы по гинекологии, урологии, кардиологии, гастроэнтерологии, эндокринологии, неврологии, хирургии и другим направлениям.
                        </div>
                    </div>
                    <div class="benefit">
                        <div class="benefit__number">
                            <span>
                                3
                            </span>
                        </div>
                        <div class="benefit__name">
                            Квалифицированный персонал
                        </div>
                        <div class="benefit__text">
                            К Вашим услугам операционная, комфортабельный дневной стационар, манипуляционные, перевязочные, оснащенные кабинеты физиотерапии и специалистов, ведущих комплексные приемы по гинекологии, урологии, кардиологии, гастроэнтерологии, эндокринологии, неврологии, хирургии и другим направлениям.
                        </div>
                    </div>
                    <div class="benefit">
                        <div class="benefit__number">
                            <span>
                                4
                            </span>
                        </div>
                        <div class="benefit__name">
                            Хорошая репутация
                        </div>
                        <div class="benefit__text">
                            Благодаря профессионализму персонала и высокому качеству оказываемой медицинской помощи, «Пульс» имеет множество положительных отзывов от пациентов.
                        </div>
                    </div>
                    <div class="benefit">
                        <div class="benefit__number">
                            <span>
                                5
                            </span>
                        </div>
                        <div class="benefit__name">
                            Качество и комфорт
                        </div>
                        <div class="benefit__text">
                            Мы ценим Ваше время и заботимся о Вашем здоровье. Вам не придется сидеть в очередях, прием ведется по записи и составляет 30 минут (у врача-гинеколога – 60 минут).
                        </div>
                    </div>
                    <div class="benefit">
                        <div class="benefit__number">
                            <span>
                                6
                            </span>
                        </div>
                        <div class="benefit__name">
                            Конфиденциальность
                        </div>
                        <div class="benefit__text">
                            Мы гарантируем безопасность и защиту от несанкционированного доступа личной медицинской информации.
                        </div>
                    </div>
                    <div class="benefit">
                        <div class="benefit__number">
                            <span>
                                7
                            </span>
                        </div>
                        <div class="benefit__name">
                            Оформление электронных амбулаторных карт
                        </div>
                    </div>
                    <div class="benefit">
                        <div class="benefit__number">
                            <span>
                                8
                            </span>
                        </div>
                        <div class="benefit__name">
                            Награды и достижения
                        </div>
                        <div class="benefit__text">
                            Действительный член Российской Медицинской Ассоциации, обладатель диплома Фонда защиты прав потребителей "За активное участие в формировании цивилизованного потребительского рынка в России".
                        </div>
                    </div>
                    <div class="benefit">
                        <div class="benefit__number">
                            <span>
                                9
                            </span>
                        </div>
                        <div class="benefit__name">
                            Наличие собственной лаборатории
                        </div>
                        <div class="benefit__text">
                            Вам не придется терять времени на ожидание результатов анализов, мы предоставим их всего за 15 минут.
                        </div>
                    </div>
                </div>
            </section>
            <div class="banner-box visible-sm">
                <div class="subtitle">Быстрая запись на прием</div>
                <button type="button" class="btn-main js-toggle" data-toggle=".js-callback">Записаться</button>
            </div>
        </div>
        <div class="l-sidebar hidden-sm">
            <div class="margin-wrap">
                <div class="banner-box banner-box_main">
                    <div class="subtitle">Бесплатная консультация</div>
                    <a class="tel" href="tel:+ 7 963 555 10 17">+ 7 963 555 10 17</a>
                    <button type="button" class="btn-feedback js-toggle" data-toggle=".js-callback">Перезвоните</button>
                    <button type="button" class="btn-feedback btn-feedback_reverse js-toggle" data-toggle=".js-ask-form">Задать вопрос</button>
                </div>
                <div class="banner-box">
                    <div class="subtitle">Быстрая запись на прием</div>
                    <button type="button" class="btn-main js-toggle" data-toggle=".js-callback">Записаться</button>
                </div>
                <a class="banner-box banner-box_img">
                    <img src="./img/uploads/banner.jpg" alt="img">
                </a>
            </div>
        </div>
    </div>
</div>

{% include "partials/_footer.html" %}
{% endblock %}
