---
title: Akcii page
---
{% extends "layouts/_layout.html" %}

{% block content %}
{% include "partials/_header_in.html" %}
<div class="l-center">
    <div class="menu-mob-layout"></div>
    <ul class="menu-mob">
        <li>
            <a href="#">
                Акции
            </a>
        </li>
        <li>
            <a href="#">
                Услуги
            </a>
        </li>
        <li>
            <a href="#">
                Специалисты
            </a>
        </li>
        <li>
            <a href="#">
                Прейскурант
            </a>
        </li>
        <li>
            <a href="#">
                Контакты
            </a>
        </li>
    </ul>
    <div class="l-cols l-cols_md-block">
        <div class="l-main">
            <section class="section section_no-border-sm">
                <div class="title">
                    <div class="title__main">Акции</div>
                </div>
                <div class="offer">
                    <a href="#" class="offer__img">
                        <img src="./img/uploads/offer-1.jpg" alt="offer">
                    </a>
                    <div class="offer__part">
                        <div class="offer__badge">
                            30 ноября - 31 декабря
                        </div>
                        <a href="#" class="link">
                            Акция "Успей получить новогодний подарок!"
                        </a>
                        <div class="text text_med">
                            <p>
                                В Fitness&Spa Скандинавского Центра Здоровья с 1 по 31 декабря 2016 г. проходит акция «Успей получить новогодний подарок!».
                            </p>
                            <p>
                                Приобретая клубную карту на 12 месяцев в период проведения акции, получите в подарок столько дней, сколько осталось до Нового Года!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="offer offer_second">
                    <a href="#" class="offer__img">
                        <img src="./img/uploads/offer-2.jpg" alt="offer">
                    </a>
                    <div class="offer__part">
                        <div class="offer__badge">
                            20 октября - 31 декабря
                        </div>
                        <a href="#" class="link">
                            Бесплатная консультация врача-физиотерапевта"
                        </a>
                        <div class="text text_med">
                            С 20 октября по 31 декабря 2016 года в Скандинавском Центре Здоровья все желающие могут получить бесплатную консультацию врача — физиотерапевта по поводу лечения заболеваний опорно-двигательного аппарата методом ударно-волновой терапии!
                        </div>
                    </div>
                </div>
                <div class="offer">
                    <a href="#" class="offer__img">
                        <img src="./img/uploads/offer-3.jpg" alt="offer">
                    </a>
                    <div class="offer__part">
                        <div class="offer__badge">
                            25 июля - 31 декабря
                        </div>
                        <a href="#" class="link">
                            Check-up программы по урологии
                        </a>
                        <div class="text text_med">
                            В МЦ Пульс действует скидка 20% на услуги по check-up программам по урологии. Мужское здоровье: диагностика заболеваний, передающихся половым путем.
                            Стоимость программы: 5 784 руб. (с учетом скидки 20%)
                        </div>
                    </div>
                </div>
                <div class="offer offer_second">
                    <a href="#" class="offer__img">
                        <img src="./img/uploads/offer-4.jpg" alt="offer">
                    </a>
                    <div class="offer__part">
                        <div class="offer__badge">
                            01 ноября - 10 января
                        </div>
                        <a href="#" class="link">
                            Инвестируй в красоту!
                        </a>
                        <div class="text text_med">
                            Рады сообщить, что с 01 ноября 2016 года по 10 января 2017 года у нас снова проходит акция «Инвестируй в красоту!»
                            Скидка также распространяется, при необходимости, на прием врача-анестезиолога, анестезию и пребывание в дневном стационаре.                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="l-sidebar">
            <div class="margin-wrap">
                <div class="banner-box banner-box_main">
                    <div class="subtitle">Бесплатная консультация</div>
                    <a class="tel" href="tel:+ 7 963 555 10 17">+ 7 963 555 10 17</a>
                    <div><button type="button" class="btn-feedback js-toggle" data-toggle=".js-callback">Перезвоните</button></div>
                    <button type="button" class="btn-feedback btn-feedback_reverse js-toggle" data-toggle=".js-ask-form">Задать вопрос</button>
                </div>
                <div class="banner-box">
                    <div class="subtitle">Быстрая запись на прием</div>
                    <button type="button" class="btn-main js-toggle" data-toggle=".js-callback">Записаться</button>
                </div>
                <a class="banner-box banner-box_img">
                    <img src="./img/uploads/banner.jpg" alt="img">
                </a>
            </div>
        </div>
    </div>
</div>

{% include "partials/_footer.html" %}
{% endblock %}
