---
title: Contact page
---
{% extends "layouts/_layout.html" %}

{% block content %}
{% include "partials/_header_in.html" %}
<div class="l-center">
    <div class="menu-mob-layout"></div>
    <ul class="menu-mob">
        <li>
            <a href="#">
                Акции
            </a>
        </li>
        <li>
            <a href="#">
                Услуги
            </a>
        </li>
        <li>
            <a href="#">
                Специалисты
            </a>
        </li>
        <li>
            <a href="#">
                Прейскурант
            </a>
        </li>
        <li>
            <a href="#">
                Контакты
            </a>
        </li>
    </ul>
    <div class="contact-block">
        <div class="contact-block__right">
            <div class="form">
                <form>
                    <div class="form__name">
                        Закажите обратный звонок
                    </div>
                    <label class="field">
                        <span class="field__name">
                            Ваше имя:
                        </span>
                        <input type="text">
                    </label>
                    <label class="field">
                        <span class="field__name">
                           Телефон:
                        </span>
                        <input type="tel">
                    </label>
                    <label class="field">
                        <span class="field__name">
                            Тема для обсуждения (необязательно):
                        </span>
                        <input type="text">
                    </label>
                    <button type="submit" class="btn-main btn-main_second">
                        Отправить
                    </button>
                </form>
            </div>
            <div class="contact-block__sidebar">
                <div class="banner-box banner-box_main">
                    <div class="subtitle">Бесплатная консультация</div>
                    <a class="tel" href="tel:+ 7 963 555 10 17">+ 7 963 555 10 17</a>
                    <button type="button" class="btn-feedback js-toggle" data-toggle=".js-callback">Перезвоните</button>
                    <button type="button" class="btn-feedback btn-feedback_reverse js-toggle" data-toggle=".js-ask-form">Задать вопрос</button>
                </div>
                <div class="banner-box">
                    <div class="subtitle">Быстрая запись на прием</div>
                    <button type="button" class="btn-main js-toggle" data-toggle=".js-callback">Записаться</button>
                </div>
            </div>
        </div>
        <div class="contact-block__left">
            <div class="title title_simple">
                Контакты
            </div>
            <div class="contact-block__text">
                г. Москва, м. Отрадное,
                Высоковольтный проезд, д. 1, к. 7
                <a href="#" class="tel">
                    +7 963 554 10 97
                </a>
            </div>

            <div class="contact-block__name">
                Режим работы:
            </div>
            <div class="contact-block__text">
                <p>Начало приема врачей</p>
                <p>10:00 до 20:00 пн-пт</p>
                <p>10:00 до 18:00 сб-вс</p>

                <p>забор анализов</p>
                <p>8:30 до 20:00 пн-пт</p>
                <p>9:00 до 18:00 сб-вс</p>
            </div>
        </div>


    </div>
</div>
<div class="map map_big" id="map">
</div>
<script>
    function initMap() {
        var myLatlng = new google.maps.LatLng(55.748570, 37.598615);
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: myLatlng
        });
        var contentString = "I'm fancy marker";
        var infowindow = new google.maps.InfoWindow({
            content: contentString,
            maxWidth: 200
        });
        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            icon: "img/loc.svg",
            title: "i'm title"
        });
        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
        //infowindow.open(map, marker);
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&callback=initMap"></script>


{% include "partials/_footer.html" %}
{% endblock %}
