---
title: Error 404 page
---
{% extends "layouts/_layout.html" %}

{% block content %}
{% include "partials/_header_in.html" %}
<div class="l-center">
    <div class="menu-mob-layout"></div>
    <ul class="menu-mob">
        <li>
            <a href="#">
                Акции
            </a>
        </li>
        <li>
            <a href="#">
                Услуги
            </a>
        </li>
        <li>
            <a href="#">
                Специалисты
            </a>
        </li>
        <li>
            <a href="#">
                Прейскурант
            </a>
        </li>
        <li>
            <a href="#">
                Контакты
            </a>
        </li>
    </ul>
    <div class="error">
        <div class="error__in">
            <div class="error__top">
                ошибка
            </div>
            <div class="error__number">
                404
            </div>
            <div class="error__text">
                Запрашиваемая Вами страница не существует или была удалена.
            </div>

        </div>

    </div>
</div>

{% include "partials/_footer.html" %}
{% endblock %}
