---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

{# variable example #}
<h1>{{title}}</h1>


{# partial example #}

{# mixin example #}
{{mixins.icon('facebook')}}


{# data usage example #}
{% import "data/data.html" as pages %}

{% for page in pages.list %}
<li>
    <a href="{{page.url}}" target="_blank">{{page.title}}</a>
</li>
{% endfor %}
{# end of example #}

{% endblock %}