---
title: Kartochka uslugi page
---
{% extends "layouts/_layout.html" %}

{% block content %}
{% include "partials/_header_in.html" %}
<div class="l-center">
    <div class="menu-mob-layout"></div>
    <ul class="menu-mob">
        <li>
            <a href="#">
                Акции
            </a>
        </li>
        <li>
            <a href="#">
                Услуги
            </a>
        </li>
        <li>
            <a href="#">
                Специалисты
            </a>
        </li>
        <li>
            <a href="#">
                Прейскурант
            </a>
        </li>
        <li>
            <a href="#">
                Контакты
            </a>
        </li>
    </ul>
    <div class="l-cols">
        <div class="l-main no-pad-md">
            <div class="breadcrumbs">
                <a href="#" class="breadcrumbs__item">
                    Услуги
                </a>
                <a href="#" class="breadcrumbs__item is-active">
                    Терапевтическое отделение
                </a>
            </div>
            <div class="l-col-wrap">
                <div class="l-col-3">
                    <section class="section">
                        <div class="title">
                            <div class="title__main">Терапевтическое отделение</div>
                        </div>
                        <div class="text text_bigger">
                            <p>
                                Терапевт, от греческого — therapeutist, специалист по внутренним болезням, который занимается профилактикой, диагностикой и лечением различных заболеваний в области гастроэнтерологии, пульмонологии, эндокринологии, аллергологии, иммунологии.
                                В терапевтическом отделении нашего центра работают высококвалифицированные врачи — терапевты.
                            </p>
                            <p>
                                На основании первичного осмотра и беседы доктор поставит диагноз и проведет лечение очень широкого спектра заболеваний, по необходимости назначит дополнительные анализы и исследования, направит на консультации к профильным специалистам.
                            </p>
                        </div>
                    </section>
                    <section class="section section_no-border-sm"">
                        <div class="title-small">
                            Цены на услуги
                        </div>
                        <table class="table table_second">
                            <thead class="table__head">
                                <tr>
                                    <th>
                                        Услуга
                                    </th>
                                    <th>
                                        Цена
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="table__row">
                                    <td>
                                        Ампутация шейки матки (по назначению онколога)

                                    </td>
                                    <td>
                                        40 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Удаление кисты большой железы преддверия влагалища
                                    </td>
                                    <td>
                                        27 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Гистерорезектоскопическая пластика перегородки матки
                                    </td>
                                    <td>
                                        15 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическое лечение стрессового недержания мочи
                                    </td>
                                    <td>
                                        18 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Гистерорезектоскопическая миомэктомия, РДВ 2 категории сложности
                                    </td>
                                    <td>
                                        19 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Гистерорезектоскопическая полипэктомия 2 категоририи сложности
                                    </td>
                                    <td>
                                        33 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Гистерорезектоскопическая полипэктоми
                                    </td>
                                    <td>
                                        15 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Удаление кисты влагалища
                                    <td>
                                        15 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическая рефлорация 2 категории сложности
                                    </td>
                                    <td>
                                        19 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Пластика половых губ 2 категории сложности
                                    </td>
                                    <td>
                                        22 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Иссечение свищей в области вульвы промежности
                                    </td>
                                    <td>
                                        31 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическое лечение опущения передней стенки влагалища
                                    </td>
                                    <td>
                                        33 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическое лечение опущения задней стенки влагалища
                                    <td>
                                        45 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическое лечение опущения передней стенки влагал
                                    </td>
                                    <td>
                                        50 000 руб
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическое лечение опущения передней стенки влагалища
                                    </td>
                                    <td>
                                        33 000 руб.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                    <section class="section section_no-border visible-md">
                        <div class="banner-box banner-box_main is-100">
                            <div class="subtitle">Бесплатная консультация</div>
                            <a class="tel" href="tel:+ 7 963 555 10 17">+ 7 963 555 10 17</a>
                            <div>
                                <button type="button" class="btn-feedback js-toggle" data-toggle=".js-callback">Перезвоните</button>
                            </div>
                            <button type="button" class="btn-feedback btn-feedback_reverse js-toggle" data-toggle=".js-ask-form">Задать вопрос</button>
                        </div>
                    </section>
                    <div class="text-section_second hidden-sm">
                        <div class="title-small">
                            Депозитные программы
                            обслуживания для частных лиц
                        </div>
                        <ul class="link-list">
                            <li>
                                {{mixins.icon('checked')}}
                                <a href="#" class="link-list__link">
                                <span>
                                    Депозитные программы
                                </span>
                                </a>
                            </li>
                            <li>
                                {{mixins.icon('checked')}}
                                <a href="#" class="link-list__link">
                                <span>
                                    Программа Check up «Мужское здоровье: диагностика заболеваний, передающихся половым путем»
                                </span>
                                </a>
                            </li>
                            <li>
                                {{mixins.icon('checked')}}
                                <a href="#" class="link-list__link">
                                <span>
                                    Программа Check up «Мужское здоровье 45+»
                                </span>
                                </a>
                            </li>
                        </ul>
                        <div class="text text__bigger">
                            Депозитная программа предусматривает медицинское обслуживание по всему прейскуранту (исключая услуги по пластической хирургии и зубопротезированию) в пределах суммы выбранной программы. Необходимая сумма вносится на депозитный счет и по мере оказания медицинских услуг (консультативные приемы, диагностические исследования, лечебные процедуры и т.д.) с депозитного счета происходит списание стоимости услуг со скидкой 10% от действующего прейскуранта. После окончания действия договора можно вернуть неиспользованные средства, либо продлить действие договора.
                        </div>
                    </div>
                </div>
                <div class="l-col-3">
                    <section class="section">
                        <div class="title-small">
                            Врачи терапевты
                        </div>
                        <div class="items-slider-second js-items-slider-second">
                            <div class="items-slider-second__slide">
                                <a class="item" href="#">
                                    <div class="item__img">
                                        <img src="./img/uploads/doctor.jpg" alt="doctor">
                                    </div>
                                    <div class="item__info">
                                        <div class="item__title">Зиновьева И.А.</div>
                                        <div class="text">Врач акушер-гинеколог высшей квалификационой категории</div>
                                    </div>
                                </a>
                            </div>
                            <div class="items-slider-second__slide">
                                <a class="item" href="#">
                                    <div class="item__img">
                                        <img src="./img/uploads/doctor.jpg" alt="doctor">
                                    </div>
                                    <div class="item__info">
                                        <div class="item__title">Зиновьева И.А.</div>
                                        <div class="text">Врач акушер-гинеколог высшей квалификационой категории</div>
                                    </div>
                                </a>
                            </div>
                            <div class="items-slider-second__slide">
                                <a class="item" href="#">
                                    <div class="item__img">
                                        <img src="./img/uploads/doctor.jpg" alt="doctor">
                                    </div>
                                    <div class="item__info">
                                        <div class="item__title">Зиновьева И.А.</div>
                                        <div class="text">Врач акушер-гинеколог высшей квалификационой категории</div>
                                    </div>
                                </a>
                            </div>
                            <div class="items-slider-second__slide">
                                <a class="item" href="#">
                                    <div class="item__img">
                                        <img src="./img/uploads/doctor.jpg" alt="doctor">
                                    </div>
                                    <div class="item__info">
                                        <div class="item__title">Зиновьева И.А.</div>
                                        <div class="text">Врач акушер-гинеколог высшей квалификационой категории</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </section>
                    <section class="section section_no-border-sm">
                        <div class="review-slider">
                            <div class="title">
                                <div class="title__main">Отзывы пациентов
                                </div>
                                <div class="title__more">
                                    <a class="link-more" href="#">
                                        <span>Вce отзывы</span>
                                    </a>
                                </div>
                            </div>
                            <div class="js-review-slider">
                                <div>
                                    <div class="comment">
                                        <div class="comment__body">
                                            <div class="text js-text">
                                                Хочу выразить свою огромную благодарность Авдиенко Ольге Владимировне. На вид миниатюрная милая девушка на деле оказалась большим и Хочу выразить свою огромную благодарность Авдиенко Ольге Владимировне. На вид миниатюрная милая девушка на деле оказалась большим и
                                            </div>
                                            <button type="button" class="comment__more js-toggle" data-toggle=".js-text">
                                                <span>Читать весь отзыв</span>
                                                <i>{{mixins.icon('arr-d')}}</i>
                                            </button>
                                            <div class="comment__info">
                                                <span>Отзыв о специалисте: </span>
                                                <a href="#" class="comment__link">
                                                    Авдиенко Ольга Владимировна
                                                </a>
                                            </div>
                                        </div>
                                        <div class="comment__meta">
                                            Серегина Вера Ивановна, 15 декабря 2016 г.
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="comment">
                                        <div class="comment__body">
                                            <div class="text js-text">
                                                Хочу выразить свою огромную благодарность Авдиенко Ольге Владимировне. На вид миниатюрная милая девушка на деле оказалась большим и Хочу выразить свою огромную благодарность Авдиенко Ольге Владимировне. На вид миниатюрная милая девушка на деле оказалась большим и
                                            </div>
                                            <button type="button" class="comment__more js-toggle" data-toggle=".js-text">
                                                <span>Читать весь отзыв</span>
                                                <i>{{mixins.icon('arr-d')}}</i>
                                            </button>
                                            <div class="comment__info">
                                                <span>Отзыв о специалисте: </span>
                                                <a href="#" class="comment__link">
                                                    Авдиенко Ольга Владимировна
                                                </a>
                                            </div>
                                        </div>
                                        <div class="comment__meta">
                                            Серегина Вера Ивановна, 15 декабря 2016 г.
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="comment">
                                        <div class="comment__body">
                                            <div class="text js-text">
                                                Хочу выразить свою огромную благодарность Авдиенко Ольге Владимировне. На вид миниатюрная милая девушка на деле оказалась большим и Хочу выразить свою огромную благодарность Авдиенко Ольге Владимировне. На вид миниатюрная милая девушка на деле оказалась большим и
                                            </div>
                                            <button type="button" class="comment__more js-toggle" data-toggle=".js-text">
                                                <span>Читать весь отзыв</span>
                                                <i>{{mixins.icon('arr-d')}}</i>
                                            </button>
                                            <div class="comment__info">
                                                <span>Отзыв о специалисте: </span>
                                                <a href="#" class="comment__link">
                                                    Авдиенко Ольга Владимировна
                                                </a>
                                            </div>
                                        </div>
                                        <div class="comment__meta">
                                            Серегина Вера Ивановна, 15 декабря 2016 г.
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="comment">
                                    <div class="comment__body">
                                        <div class="text js-text">
                                            Хочу выразить свою огромную благодарность Авдиенко Ольге Владимировне. На вид миниатюрная милая девушка на деле оказалась большим и Хочу выразить свою огромную благодарность Авдиенко Ольге Владимировне. На вид миниатюрная милая девушка на деле оказалась большим и
                                        </div>
                                        <button type="button" class="comment__more js-toggle" data-toggle=".js-text">
                                            <span>Читать весь отзыв</span>
                                            <i>{{mixins.icon('arr-d')}}</i>
                                        </button>
                                        <div class="comment__info">
                                            <span>Отзыв о специалисте: </span>
                                            <a href="#" class="comment__link">
                                                Авдиенко Ольга Владимировна
                                            </a>
                                        </div>
                                    </div>
                                    <div class="comment__meta">
                                        Серегина Вера Ивановна, 15 декабря 2016 г.
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="section section_no-border visible-md">
                        <div class="banner-box is-100">
                            <div class="subtitle">Быстрая запись на прием</div>
                            <button type="button" class="btn-main js-toggle" data-toggle=".js-callback">Записаться</button>
                        </div>
                    </section>
                    <div class="text-section_second visible-sm">
                        <div class="title-small">
                            Депозитные программы
                            обслуживания для частных лиц
                        </div>
                        <ul class="link-list">
                            <li>
                                {{mixins.icon('checked')}}
                                <a href="#" class="link-list__link">
                                <span>
                                    Депозитные программы
                                </span>
                                </a>
                            </li>
                            <li>
                                {{mixins.icon('checked')}}
                                <a href="#" class="link-list__link">
                                <span>
                                    Программа Check up «Мужское здоровье: диагностика заболеваний, передающихся половым путем»
                                </span>
                                </a>
                            </li>
                            <li>
                                {{mixins.icon('checked')}}
                                <a href="#" class="link-list__link">
                                <span>
                                    Программа Check up «Мужское здоровье 45+»
                                </span>
                                </a>
                            </li>
                        </ul>
                        <div class="text text__bigger">
                            Депозитная программа предусматривает медицинское обслуживание по всему прейскуранту (исключая услуги по пластической хирургии и зубопротезированию) в пределах суммы выбранной программы. Необходимая сумма вносится на депозитный счет и по мере оказания медицинских услуг (консультативные приемы, диагностические исследования, лечебные процедуры и т.д.) с депозитного счета происходит списание стоимости услуг со скидкой 10% от действующего прейскуранта. После окончания действия договора можно вернуть неиспользованные средства, либо продлить действие договора.
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="l-sidebar hidden-md">
            <div class="margin-wrap">
                <div class="banner-box banner-box_main">
                    <div class="subtitle">Бесплатная консультация</div>
                    <a class="tel" href="tel:+ 7 963 555 10 17">+ 7 963 555 10 17</a>
                    <div><button type="button" class="btn-feedback js-toggle" data-toggle=".js-callback">Перезвоните</button></div>
                    <button type="button" class="btn-feedback btn-feedback_reverse js-toggle" data-toggle=".js-ask-form">Задать вопрос</button>
                </div>
                <div class="banner-box">
                    <div class="subtitle">Быстрая запись на прием</div>
                    <button type="button" class="btn-main js-toggle" data-toggle=".js-callback">Записаться</button>
                </div>
                <a class="banner-box banner-box_img">
                    <img src="./img/uploads/banner.jpg" alt="img">
                </a>
            </div>
        </div>
    </div>
</div>

{% include "partials/_footer.html" %}
{% endblock %}
