---
title: Klientam page
---
{% extends "layouts/_layout.html" %}

{% block content %}
{% include "partials/_header_in.html" %}
<div class="l-center">
    <div class="menu-mob-layout"></div>
    <ul class="menu-mob">
        <li>
            <a href="#">
                Акции
            </a>
        </li>
        <li>
            <a href="#">
                Услуги
            </a>
        </li>
        <li>
            <a href="#">
                Специалисты
            </a>
        </li>
        <li>
            <a href="#">
                Прейскурант
            </a>
        </li>
        <li>
            <a href="#">
                Контакты
            </a>
        </li>
    </ul>
    <div class="l-cols">
        <div class="l-main no-pad-md">
            <section class="section section_no-border">
                <div class="title title_pad-xs">
                    <div class="title__main">Клиенту</div>
                </div>
                <ul class="tabs js-tabs" data-content="outside">
                    <li class="tabs__item is-active">
                        <a href="#js-tab1" class="tabs__link">
                            <span>Частным лицам</span>
                        </a>
                    </li>
                    <li class="tabs__item">
                        <a href="#js-tab2" class="tabs__link">
                            <span>Корпоративным клиентам</span>
                        </a>
                    </li>
                    <li class="tabs__item">
                        <a href="#js-tab3" class="tabs__link">
                            <span>Документация</span>
                        </a>
                    </li>
                </ul>
                <div class="l-col-1">
                    <div class="tabs-content is-active" data-tabs="outside" data-id="#js-tab1">
                        <div class="text-section">
                            <div class="title-small">
                                Медицинские программы
                                обслуживания
                            </div>
                            <ul class="link-list">
                            <li>
                                {{mixins.icon('checked')}}
                                <a href="#" class="link-list__link">
                                    <span>
                                        Депозитные программы
                                    </span>
                                </a>
                            </li>
                            <li>
                                {{mixins.icon('checked')}}
                                <a href="#" class="link-list__link">
                                    <span>
                                        Программа Check up «Мужское здоровье: диагностика заболеваний, передающихся половым путем»
                                    </span>
                                </a>
                            </li>
                            <li>
                                {{mixins.icon('checked')}}
                                <a href="#" class="link-list__link">
                                    <span>
                                        Программа Check up «Мужское здоровье 45+»
                                    </span>
                                </a>
                            </li>
                        </ul>
                            <div class="text text__bigger">
                                Депозитная программа предусматривает медицинское обслуживание по всему прейскуранту (исключая услуги по пластической хирургии и зубопротезированию) в пределах суммы выбранной программы. Необходимая сумма вносится на депозитный счет и по мере оказания медицинских услуг (консультативные приемы, диагностические исследования, лечебные процедуры и т.д.) с депозитного счета происходит списание стоимости услуг со скидкой 10% от действующего прейскуранта. После окончания действия договора можно вернуть неиспользованные средства, либо продлить действие договора.
                            </div>
                        </div>
                        <div class="banner-box banner-box_main visible-md is-100">
                            <div class="subtitle">Бесплатная консультация</div>
                            <a class="tel" href="tel:+ 7 963 555 10 17">+ 7 963 555 10 17</a>
                            <div>
                                <button type="button" class="btn-feedback js-toggle" data-toggle=".js-callback">Перезвоните</button>
                            </div>
                            <button type="button" class="btn-feedback btn-feedback_reverse js-toggle" data-toggle=".js-ask-form">Задать вопрос</button>
                        </div>
                        <div class="text-section">
                            <div class="title-small">
                                Комплексное обслуживание
                            </div>
                            <div class="text text_bigger">
                                Диагностика, лечение, реабилитация, стоматологическая помощь (терапевтическое и хирургическое лечение), вызов врача на дом. Также в программу могут быть включены: имплантация и отбеливание зубов, услуги эстетического направления (косметология, пластическая хирургия), операции в условиях стационара одного дня (флебология, хирургия, гинекология, травматология, офтальмология, маммология, проктология).
                            </div>
                        </div>
                        <div class="banner-box visible-md is-100">
                            <div class="subtitle">Быстрая запись на прием</div>
                            <button type="button" class="btn-main js-toggle" data-toggle=".js-callback">Записаться</button>
                        </div>

                        <div class="text-section">
                            <div class="title-small">
                                Медицинские осмотры
                            </div>
                            <div class="text text_bigger">
                                Основным принципом МЦ «Пульс» при реализации программ является индивидуальный подход к клиенту и гибкость при решении вопросов. Предлагаемые программы медицинского обслуживания будут разработаны с соответствии с Вашими потребностями и пожеланиями.
                            </div>
                        </div>
                    </div>
                    <div class="tabs-content" data-tabs="outside" data-id="#js-tab2">
                        2
                    </div>
                    <div class="tabs-content" data-tabs="outside" data-id="#js-tab3">
                        3
                    </div>
                </div>
                <div class="l-col-2">
                <div class="form is-100">
                    <form>
                        <div class="form__name">
                            Чтобы оформить договор:
                        </div>
                        <div class="form__top">
                            <ul class="form__list">
                                <li>
                                    <i>1</i>
                                    Позвоните
                                    <a href="#">+ 7 495 777-81-07</a>, <a href="#">+7 495 627-35-08</a>,
                                </li>
                                <li>
                                    <i>2</i>
                                    Обратитесь в кабинет №111 в строении 25 или кабинет № 113 в строении 37,
                                </li>
                            </ul>
                        </div>
                        <div class="form__subname">
                            или отправьте заявку:
                        </div>
                        <div class="field">
                            <span class="field__name">
                                Программа:
                            </span>
                            <select class="js-select">
                                <option value="var0">var0</option>
                                <option value="var1">var1</option>
                                <option value="var2">var2</option>
                                <option value="var3">var3</option>
                            </select>
                        </div>
                        <label class="field">
                            <span class="field__name">
                                ФИО: <sab>*</sab>
                            </span>
                            <input type="text">
                        </label>
                        <label class="field">
                            <span class="field__name">
                               Контактный телефон: <sab>*</sab>
                            </span>
                            <input type="tel">
                        </label>
                        <label class="field">
                            <span class="field__name">
                                Комментарии:
                            </span>
                            <textarea></textarea>
                        </label>
                        <button type="submit" class="btn-main btn-main_second">
                            Отправить
                        </button>
                    </form>
                </div>
            </div>
            </section>
        </div>
        <div class="l-sidebar hidden-md">
            <div class="margin-wrap">
                <div class="banner-box banner-box_main">
                    <div class="subtitle">Бесплатная консультация</div>
                    <a class="tel" href="tel:+ 7 963 555 10 17">+ 7 963 555 10 17</a>
                    <div><button type="button" class="btn-feedback js-toggle" data-toggle=".js-callback">Перезвоните</button></div>
                    <button type="button" class="btn-feedback btn-feedback_reverse js-toggle" data-toggle=".js-ask-form">Задать вопрос</button>
                </div>
                <div class="banner-box">
                    <div class="subtitle">Быстрая запись на прием</div>
                    <button type="button" class="btn-main js-toggle" data-toggle=".js-callback">Записаться</button>
                </div>
                <a class="banner-box banner-box_img">
                    <img src="./img/uploads/banner.jpg" alt="img">
                </a>
            </div>
        </div>
    </div>
</div>

{% include "partials/_footer.html" %}
{% endblock %}
