---
title: Main page
---
{% extends "layouts/_layout.html" %}

{% block content %}
{% include "partials/_header.html" %}
<div class="l-center">
    <div class="menu-mob-layout"></div>
    <ul class="menu-mob">
        <li>
            <a href="#">
                Акции
            </a>
        </li>
        <li>
            <a href="#">
                Услуги
            </a>
        </li>
        <li>
            <a href="#">
                Специалисты
            </a>
        </li>
        <li>
            <a href="#">
                Прейскурант
            </a>
        </li>
        <li>
            <a href="#">
                Контакты
            </a>
        </li>
    </ul>
    <div class="slider js-slider">
        <div>
            <div class="slider__slide">
                <div class="slide__img">
                    <img src="./img/uploads/slide.jpg" alt="img">
                </div>
                <div class="slider__title">
                    <span>Пульс-современный медицинский диагностический центр в Москве</span>
                </div>
            </div>
        </div>
        <div>
            <div class="slider__slide">
                <img src="./img/uploads/slide.jpg" alt="img">
                <div class="slider__title">
                    <span>Пульс-современный медицинский диагностический центр в Москве</span>
                </div>
            </div>
        </div>
        <div>
            <div class="slider__slide">
                <img src="./img/uploads/slide.jpg" alt="img">
                <div class="slider__title">
                    <span>Пульс-современный медицинский диагностический центр в Москве</span>
                </div>
            </div>
        </div>
    </div>
    <div class="l-cols">
        <div class="l-main">
            <section class="section">
                <div class="title">
                    <div class="title__main">Направления</div>
                </div>
                <div class="categories-slider js-categories-slider">
                    <div>
                        <a class="category" href="#">
                            <span class="category__img">{{mixins.icon('gynecology')}}</span>
                            <span class="category__bottom">
                                <span class="category__title">Гинекология</span>
                            </span>
                        </a>
                    </div>
                    <div>
                        <a class="category" href="#">
                            <span class="category__img">{{mixins.icon('endocrinology')}}</span>
                            <span class="category__bottom">
                                <span class="category__title">Эндокринология</span>
                            </span>
                        </a>
                    </div>

                    <div>
                        <a class="category" href="#">
                            <span class="category__img">{{mixins.icon('monitor')}}</span>
                            <span class="category__bottom">
                                <span class="category__title">Узи</span>
                            </span>
                        </a>
                    </div>
                    <div>
                        <a class="category" href="#">
                            <span class="category__img">{{mixins.icon('socket')}}</span>
                            <span class="category__bottom">
                                <span class="category__title">Терапия</span>
                            </span>
                        </a>
                    </div>
                    <div>
                        <a class="category" href="#">
                            <span class="category__img">{{mixins.icon('obstetrics')}}</span>
                            <span class="category__bottom">
                                <span class="category__title">Акушерство</span>
                            </span>
                        </a>
                    </div>
                    <div>
                        <a class="category" href="#">
                            <span class="category__img">{{mixins.icon('organ')}}</span>
                            <span class="category__bottom">
                                <span class="category__title">Урология</span>
                            </span>
                        </a>
                    </div>
                    <!--<div>-->
                        <!--<a class="category" href="#">-->
                            <!--<span class="category__img">{{mixins.icon('card')}}</span>-->
                            <!--<span class="category__bottom">-->
                                <!--<span class="category__title">Выдача мед. справок</span>-->
                            <!--</span>-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--<a class="category" href="#">-->
                            <!--<span class="category__img">{{mixins.icon('eye')}}</span>-->
                            <!--<span class="category__bottom">-->
                                <!--<span class="category__title">Окулист</span>-->
                            <!--</span>-->
                        <!--</a>-->
                    <!--</div>-->
                    <div>
                        <a class="category" href="#">
                            <span class="category__img">{{mixins.icon('person')}}</span>
                            <span class="category__bottom">
                                <span class="category__title">Лор</span>
                            </span>
                        </a>
                    </div>
                    <div>
                        <a class="category" href="#">
                            <span class="category__img">{{mixins.icon('brain')}}</span>
                            <span class="category__bottom">
                                <span class="category__title">Неврология</span>
                            </span>
                        </a>
                    </div>
                    <div>
                        <a class="category" href="#">
                            <span class="category__img">{{mixins.icon('dermatology')}}</span>
                            <span class="category__bottom">
                                <span class="category__title">Дерматология</span>
                            </span>
                        </a>
                    </div>
                    <div>
                        <a class="category" href="#">
                            <span class="category__img">{{mixins.icon('manual-therapy')}}</span>
                            <span class="category__bottom">
                                <span class="category__title">Мануальная терапия</span>
                            </span>
                        </a>
                    </div>
                    <div>
                        <a class="category" href="#">
                            <span class="category__img">{{mixins.icon('massage')}}</span>
                            <span class="category__bottom">
                                <span class="category__title">Медицинский массаж</span>
                            </span>
                        </a>
                    </div>
                    <!--<div>-->
                        <!--<a class="category" href="#">-->
                            <!--<span class="category__img">{{mixins.icon('heartrate')}}</span>-->
                            <!--<span class="category__bottom">-->
                                <!--<span class="category__title">Функциональная диагностика</span>-->
                            <!--</span>-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--<a class="category" href="#">-->
                            <!--<span class="category__img">{{mixins.icon('cards')}}</span>-->
                            <!--<span class="category__bottom">-->
                                <!--<span class="category__title">Больничные</span>-->
                            <!--</span>-->
                        <!--</a>-->
                    <!--</div>-->
                </div>
            </section>
            <div class="banner-box banner-box_main visible-sm">
                <div class="subtitle">Бесплатная консультация</div>
                <a class="tel" href="tel:+ 7 963 555 10 17">+ 7 963 555 10 17</a>
                <div>
                    <button type="button" class="btn-feedback js-toggle" data-toggle=".js-callback">Перезвоните</button>
                </div>
                <button type="button" class="btn-feedback btn-feedback_reverse js-toggle" data-toggle=".js-ask-form">Задать вопрос</button>
            </div>
            <section class="section">
                <div class="title">
                    <div class="title__main">Врачи</div>
                    <div class="title__more">
                        <a class="link-more" href="#">
                            <span>Весь список врачей</span>
                        </a>
                    </div>
                </div>
                <div class="items-slider js-items-slider">
                    <div>
                        <a class="item" href="#">
                            <div class="item__img">
                                <img src="./img/uploads/doctor.jpg" alt="doctor">
                            </div>
                            <div class="item__info">
                                <div class="item__title">Зиновьева И.А.</div>
                                <div class="text">Врач акушер-гинеколог высшей квалификационой категории</div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a class="item" href="#">
                            <div class="item__img">
                                <img src="./img/uploads/doctor.jpg" alt="doctor">
                            </div>
                            <div class="item__info">
                                <div class="item__title">Зиновьева И.А.</div>
                                <div class="text">Врач акушер-гинеколог высшей квалификационой категории</div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a class="item" href="#">
                            <div class="item__img">
                                <img src="./img/uploads/doctor.jpg" alt="doctor">
                            </div>
                            <div class="item__info">
                                <div class="item__title">Зиновьева И.А.</div>
                                <div class="text">Врач акушер-гинеколог высшей квалификационой категории</div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a class="item" href="#">
                            <div class="item__img">
                                <img src="./img/uploads/doctor.jpg" alt="doctor">
                            </div>
                            <div class="item__info">
                                <div class="item__title">Зиновьева И.А.</div>
                                <div class="text">Врач акушер-гинеколог высшей квалификационой категории</div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a class="item" href="#">
                            <div class="item__img">
                                <img src="./img/uploads/doctor.jpg" alt="doctor">
                            </div>
                            <div class="item__info">
                                <div class="item__title">Зиновьева И.А.</div>
                                <div class="text">Врач акушер-гинеколог высшей квалификационой категории</div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a class="item" href="#">
                            <div class="item__img">
                                <img src="./img/uploads/doctor.jpg" alt="doctor">
                            </div>
                            <div class="item__info">
                                <div class="item__title">Зиновьева И.А.</div>
                                <div class="text">Врач акушер-гинеколог высшей квалификационой категории</div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a class="item" href="#">
                            <div class="item__img">
                                <img src="./img/uploads/doctor.jpg" alt="doctor">
                            </div>
                            <div class="item__info">
                                <div class="item__title">Зиновьева И.А.</div>
                                <div class="text">Врач акушер-гинеколог высшей квалификационой категории</div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a class="item" href="#">
                            <div class="item__img">
                                <img src="./img/uploads/doctor.jpg" alt="doctor">
                            </div>
                            <div class="item__info">
                                <div class="item__title">Зиновьева И.А.</div>
                                <div class="text">Врач акушер-гинеколог высшей квалификационой категории</div>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
            <div class="banner-box visible-sm">
                <div class="subtitle">Быстрая запись на прием</div>
                <button type="button" class="btn-main js-toggle" data-toggle=".js-callback">Записаться</button>
            </div>
            <section class="section">
                <div class="title">
                    <div class="title__main">Новости</div>
                    <div class="title__more">
                        <a class="link-more" href="#">Весь новости</a>
                    </div>
                </div>
                <div class="posts-wrap">
                    <div class="post post_main">
                        <a class="post__img" href="#">
                            <img src="./img/uploads/post.jpg" alt="">
                        </a>
                        <div class="post__main">
                            <div class="meta">16.11.2016</div>
                            <a class="link" href="#">Бесплатная консультация врача-физиотерапевта</a>
                            <div class="text">Обращаем Ваше внимание, что до 31 декабря 2016 года в Медицинском Центре "Пульс" действует акция — Бесплатная консультация врача-физиотерапевта по поводу лечения методом ударно-волновой терапии.</div>
                        </div>
                    </div>
                    <div class="post post_main">
                        <a class="post__img" href="#">
                            <img src="./img/uploads/post.jpg" alt="">
                        </a>
                        <div class="post__main">
                            <div class="meta">16.11.2016</div>
                            <a class="link" href="#">Бесплатная консультация врача-физиотерапевта</a>
                            <div class="text">
                                Рады сообщить, что у нас проходит акция «Инвестируй в красоту!» в период с 01 ноября 2016 года по 10 января 2017 года.
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section section_no-border">
                <div class="title">
                    <div class="title__main">Пульс вашего здоровья!</div>
                </div>
                <div class="text text_med">
                    <img src="./img/uploads/img1.jpg" align="left" alt="img">
                    <div>
                        <p>Пульс — это сеть многопрофильных клиник мужского и женского здоровья.</p>
                        <p>Во всех клиниках Пульс клиенты получают квалифицированную помощь по всем основным направлениям современной медицины.</p>
                        <p>Мы проводим диагностику и лечение различных видов заболеваний и нарушений мочеполовой и иммунной систем, кожных и аллергических заболеваний, органов кровообращения и пищеварения, терапию, гомеопатию, косметологические процедуры и другие медицинские услуги.</p>
                        <p>Высококлассные лечебно-диагностические центры, оснащённые современными техническими средствами, позволяют проводить максимально точные исследования организма и выявлять текущие заболевания. На основе полученных данных опытные врачи разрабатывают необходимый курс лечения, который вернёт пациента к полноценной здоровой жизни. Специалисты Пульс проведут консультацию по всем интересующим Вас вопросам. Наличие полиса и прописки не требуется.</p>
                        <p>В Пульс приходят семьями, а врачей рекомендуют друзьям и близким. Нам доверяют, а это главный показатель качества предоставляемых нами услуг.</p>
                    </div>
                </div>
            </section>
        </div>
        <div class="l-sidebar hidden-sm">
            <div class="margin-wrap">
                <div class="banner-box banner-box_main">
                    <div class="subtitle">Бесплатная консультация</div>
                    <a class="tel" href="tel:+ 7 963 555 10 17">+ 7 963 555 10 17</a>
                    <button type="button" class="btn-feedback js-toggle" data-toggle=".js-callback">Перезвоните</button>
                    <button type="button" class="btn-feedback btn-feedback_reverse js-toggle" data-toggle=".js-ask-form">Задать вопрос</button>
                </div>
                <div class="banner-box">
                    <div class="subtitle">Быстрая запись на прием</div>
                    <button type="button" class="btn-main js-toggle" data-toggle=".js-callback">Записаться</button>
                </div>
                <a class="banner-box banner-box_img">
                    <img src="./img/uploads/banner.jpg" alt="img">
                </a>
            </div>
        </div>
    </div>
    
</div>
<div class="map-ad">
    <div class="l-center">
        <div class="map-ad__banner">
            <div class="title_simple">Контакты</div>
            <ul>
                <li>г. Москва,</li>
                <li>м. Отрадное,</li>
                <li>Высоковольтный проезд, д. 1, к. 7</li>
            </ul>
            <a class="tel" href="tel:+7 963 554 10 97">+7 963 554 10 97</a>
            <ul>
                <li><strong>Режим работы:</strong></li>
                <li>По будням: 8:00 — 21:00.</li>
                <li>Суббота: 9:00 — 15:00.</li>
                <li>Воскресенье: выходной.</li>
            </ul>
        </div>
    </div>
</div>
<div class="map" id="map"></div>
<script>
    function initMap() {
        var myLatlng = new google.maps.LatLng(55.748570, 37.598615);
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: myLatlng
        });
        var contentString = "I'm fancy marker";
        var infowindow = new google.maps.InfoWindow({
            content: contentString,
            maxWidth: 200
        });
        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            icon: "img/loc.svg",
            title: "i'm title"
        });
        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
        //infowindow.open(map, marker);
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&callback=initMap"></script>
{% include "partials/_footer.html" %}
{% endblock %}
