---
title: News page
---
{% extends "layouts/_layout.html" %}

{% block content %}
{% include "partials/_header_in.html" %}
<div class="l-center">
    <div class="menu-mob-layout"></div>
    <ul class="menu-mob">
        <li>
            <a href="#">
                Акции
            </a>
        </li>
        <li>
            <a href="#">
                Услуги
            </a>
        </li>
        <li>
            <a href="#">
                Специалисты
            </a>
        </li>
        <li>
            <a href="#">
                Прейскурант
            </a>
        </li>
        <li>
            <a href="#">
                Контакты
            </a>
        </li>
    </ul>
    <div class="l-cols">
        <div class="l-main">
            <section class="section">
                <div class="title">
                    <div class="title__main">Новости</div>
                </div>
                <div class="posts-wrap">
                    <div class="post">
                        <a class="post__img" href="#">
                            <img src="./img/uploads/post.jpg" alt="">
                        </a>
                        <div class="post__main">
                            <div class="meta">16.11.2016</div>
                            <a class="link" href="#">Бесплатная консультация врача-физиотерапевта</a>
                            <div class="text">Обращаем Ваше внимание, что до 31 декабря 2016 года в Медицинском Центре "Пульс" действует акция — Бесплатная консультация врача-физиотерапевта по поводу лечения методом ударно-волновой терапии.</div>
                        </div>
                    </div>
                    <div class="post">
                        <a class="post__img" href="#">
                            <img src="./img/uploads/post-5.jpg" alt="">
                        </a>
                        <div class="post__main">
                            <div class="meta">16.11.2016</div>
                            <a class="link" href="#">Бесплатная консультация врача-физиотерапевта</a>
                            <div class="text">
                                Рады сообщить, что у нас проходит акция «Инвестируй в красоту!» в период с 01 ноября 2016 года по 10 января 2017 года.
                            </div>
                        </div>
                    </div>
                    <div class="post">
                        <a class="post__img" href="#">
                            <img src="./img/uploads/post-4.jpg" alt="">
                        </a>
                        <div class="post__main">
                            <div class="meta">16.11.2016</div>
                            <a class="link" href="#">3-е место в номинации «ЦЕНА - КАЧЕСТВО»</a>
                            <div class="text">
                                По результатам исследования, проводимого экспертами Московского Комсомольца (www.mk.ru) и медицинского портала «Здоров. Онлайн»,
                            </div>
                        </div>
                    </div>
                    <div class="post">
                        <a class="post__img" href="#">
                            <img src="./img/uploads/post-3.jpg" alt="">
                        </a>
                        <div class="post__main">
                            <div class="meta">16.11.2016</div>
                            <a class="link" href="#">
                                Участие в форуме «Российская неделя здравоохранения-2016»
                            </a>
                            <div class="text">
                                7—8 декабря 2016 г. Скандинавский Центр Здоровья принял участие в 7-ой общероссийской конференции «Частное здравоохранение: состояние и перспективы развития»...
                            </div>
                        </div>
                    </div>
                    <div class="post">
                        <a class="post__img" href="#">
                            <img src="./img/uploads/post-1.jpg" alt="">
                        </a>
                        <div class="post__main">
                            <div class="meta">16.11.2016</div>
                            <a class="link" href="#">
                                Бесплатная консультация врача-физиотерапевта
                            </a>
                            <div class="text">
                                Обращаем Ваше внимание, что до 31 декабря 2016 года в Медицинском Центре "Пульс" действует акция — Бесплатная консультация врача-физиотерапевта по поводу лечения методом ударно-волновой терапии.
                            </div>
                        </div>
                    </div>
                    <div class="post">
                        <a class="post__img" href="#">
                            <img src="./img/uploads/post-2.jpg" alt="">
                        </a>
                        <div class="post__main">
                            <div class="meta">16.11.2016</div>
                            <a class="link" href="#">
                                Акция "Инвестируй в красоту!"
                            </a>
                            <div class="text">
                                Рады сообщить, что у нас проходит акция «Инвестируй в красоту!» в период с 01 ноября 2016 года по 10 января 2017 года.
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <ul class="paginator">
                <li class="paginator__arrs">
                    <a href="#">
                        {{mixins.icon('arrs-l')}}
                    </a>
                </li>
                <li class="paginator__item is-active">
                    <a href="#">
                        <span>1</span>
                    </a>
                </li>
                <li class="paginator__item">
                    <a href="#">
                        <span>2</span>
                    </a>
                </li>
                <li class="paginator__item">
                    <a href="#">
                        <span>3</span>
                    </a>
                </li>
                <li class="paginator__item">
                    <a href="#">
                        <span>4</span>
                    </a>
                </li>
                <li class="paginator__item">
                    <a href="#">
                        <span>5</span>
                    </a>
                </li>
                <li class="paginator__item">
                    <a href="#">
                        <span>6</span>
                    </a>
                </li>
                <li class="paginator__arrs">
                    <a href="#">
                        {{mixins.icon('arrs-r')}}
                    </a>
                </li>
            </ul>
        </div>
        <div class="l-sidebar hidden-sm">
            <div class="margin-wrap">
                <div class="banner-box banner-box_main">
                    <div class="subtitle">Бесплатная консультация</div>
                    <a class="tel" href="tel:+ 7 963 555 10 17">+ 7 963 555 10 17</a>
                    <button type="button" class="btn-feedback js-toggle" data-toggle=".js-callback">Перезвоните</button>
                    <button type="button" class="btn-feedback btn-feedback_reverse js-toggle" data-toggle=".js-ask-form">Задать вопрос</button>
                </div>
                <div class="banner-box">
                    <div class="subtitle">Быстрая запись на прием</div>
                    <button type="button" class="btn-main js-toggle" data-toggle=".js-callback">Записаться</button>
                </div>
                <a class="banner-box banner-box_img">
                    <img src="./img/uploads/banner.jpg" alt="img">
                </a>
            </div>
        </div>
    </div>
</div>

{% include "partials/_footer.html" %}
{% endblock %}
