---
title: Otzivi page
---
{% extends "layouts/_layout.html" %}

{% block content %}
{% include "partials/_header_in.html" %}
<div class="l-center">
    <div class="menu-mob-layout"></div>
    <ul class="menu-mob">
        <li>
            <a href="#">
                Акции
            </a>
        </li>
        <li>
            <a href="#">
                Услуги
            </a>
        </li>
        <li>
            <a href="#">
                Специалисты
            </a>
        </li>
        <li>
            <a href="#">
                Прейскурант
            </a>
        </li>
        <li>
            <a href="#">
                Контакты
            </a>
        </li>
    </ul>
    <div class="l-cols l-cols_md-block">
        <div class="l-main">
            <section class="section section_no-border">
                <div class="title title_pad-xs">
                    <div class="title__main">Отзывы</div>
                </div>
                <div class="l-col-1">
                    <div class="comment">
                        <div class="comment__body">
                            <div class="text js-text">
                                Хочу выразить свою огромную благодарность Авдиенко Ольге Владимировне. На вид миниатюрная милая девушка на деле оказалась большим и Хочу выразить свою огромную благодарность Авдиенко Ольге Владимировне. На вид миниатюрная милая девушка на деле оказалась большим и
                            </div>
                            <button type="button" class="comment__more js-toggle" data-toggle=".js-text">
                                <span>Читать весь отзыв</span>
                                <i>{{mixins.icon('arr-d')}}</i>
                            </button>
                            <div class="comment__info">
                                <span>Отзыв о специалисте: </span>
                                <a href="#" class="comment__link">
                                    Авдиенко Ольга Владимировна
                                </a>
                            </div>
                        </div>
                        <div class="comment__meta">
                            Серегина Вера Ивановна, 15 декабря 2016 г.
                        </div>
                    </div>
                    <div class="comment">
                        <div class="comment__body">
                        <div class="text js-text">
                            Хочу выразить свою огромную благодарность Авдиенко Ольге Владимировне. На вид миниатюрная милая девушка на деле оказалась большим и Хочу выразить свою огромную благодарность Авдиенко Ольге Владимировне. На вид миниатюрная милая девушка на деле оказалась большим и
                        </div>
                        <button type="button" class="comment__more js-toggle" data-toggle=".js-text">
                            <span>Читать весь отзыв</span>
                            <i>{{mixins.icon('arr-d')}}</i>
                        </button>
                        <div class="comment__info">
                            <span>Отзыв о специалисте: </span>
                            <a href="#" class="comment__link">
                                Авдиенко Ольга Владимировна
                            </a>
                        </div>
                    </div>
                        <div class="comment__meta">
                            Серегина Вера Ивановна, 15 декабря 2016 г.
                        </div>
                    </div>
                    <div class="comment">
                        <div class="comment__body">
                            <div class="text js-text">
                                Хочу выразить свою огромную благодарность Авдиенко Ольге Владимировне. На вид миниатюрная милая девушка на деле оказалась большим и Хочу выразить свою огромную благодарность Авдиенко Ольге Владимировне. На вид миниатюрная милая девушка на деле оказалась большим и
                            </div>
                            <button type="button" class="comment__more js-toggle" data-toggle=".js-text">
                                <span>Читать весь отзыв</span>
                                <i>{{mixins.icon('arr-d')}}</i>
                            </button>
                            <div class="comment__info">
                                <span>Отзыв о специалисте: </span>
                                <a href="#" class="comment__link">
                                    Авдиенко Ольга Владимировна
                                </a>
                            </div>
                        </div>
                        <div class="comment__meta">
                            Серегина Вера Ивановна, 15 декабря 2016 г.
                        </div>
                    </div>
                    <div class="comment">
                        <div class="comment__body">
                            <div class="text js-text">
                                Хочу выразить свою огромную благодарность Авдиенко Ольге Владимировне. На вид миниатюрная милая девушка на деле оказалась большим и Хочу выразить свою огромную благодарность Авдиенко Ольге Владимировне. На вид миниатюрная милая девушка на деле оказалась большим и
                            </div>
                            <button type="button" class="comment__more js-toggle" data-toggle=".js-text">
                                <span>Читать весь отзыв</span>
                                <i>{{mixins.icon('arr-d')}}</i>
                            </button>
                            <div class="comment__info">
                                <span>Отзыв о специалисте: </span>
                                <a href="#" class="comment__link">
                                    Авдиенко Ольга Владимировна
                                </a>
                            </div>
                        </div>
                        <div class="comment__meta">
                            Серегина Вера Ивановна, 15 декабря 2016 г.
                        </div>
                    </div>
                    <ul class="paginator">
                        <li class="paginator__arrs">
                            <a href="#">
                                {{mixins.icon('arrs-l')}}
                            </a>
                        </li>
                        <li class="paginator__item is-active">
                            <a href="#">
                                <span>1</span>
                            </a>
                        </li>
                        <li class="paginator__item">
                            <a href="#">
                                <span>2</span>
                            </a>
                        </li>
                        <li class="paginator__item">
                            <a href="#">
                                <span>3</span>
                            </a>
                        </li>
                        <li class="paginator__item">
                            <a href="#">
                                <span>4</span>
                            </a>
                        </li>
                        <li class="paginator__item">
                            <a href="#">
                                <span>5</span>
                            </a>
                        </li>
                        <li class="paginator__item">
                            <a href="#">
                                <span>6</span>
                            </a>
                        </li>
                        <li class="paginator__arrs">
                            <a href="#">
                                {{mixins.icon('arrs-r')}}
                            </a>
                        </li>
                    </ul>

                </div>
                <div class="l-col-2">
                <div class="form is-100">
                    <form>
                        <div class="form__name">
                            Добавить отзыв
                        </div>
                        <label class="field">
                            <span class="field__name">
                                ФИО:
                            </span>
                            <input type="text">
                        </label>
                        <label class="field">
                            <span class="field__name">
                               Телефон:
                            </span>
                            <input type="tel">
                        </label>
                        <label class="field">
                            <span class="field__name">
                                E-mail:
                            </span>
                            <input type="e-mail">
                        </label>
                        <div class="field">
                            <span class="field__name">
                                Выберите специализацию:
                            </span>
                            <select class="js-select">
                                <option value="var0">var0</option>
                                <option value="var1">var1</option>
                                <option value="var2">var2</option>
                                <option value="var3">var3</option>
                            </select>
                        </div>
                        <label class="field">
                            <span class="field__name">
                                Текст отзыва:
                            </span>
                            <textarea></textarea>
                        </label>
                        <button type="submit" class="btn-main btn-main_second">
                            Отправить
                        </button>
                    </form>
                </div>
            </div>
            </section>
        </div>
        <div class="l-sidebar">
            <div class="margin-wrap">
                <div class="banner-box banner-box_main">
                    <div class="subtitle">Бесплатная консультация</div>
                    <a class="tel" href="tel:+ 7 963 555 10 17">+ 7 963 555 10 17</a>
                    <div><button type="button" class="btn-feedback js-toggle" data-toggle=".js-callback">Перезвоните</button></div>
                    <button type="button" class="btn-feedback btn-feedback_reverse js-toggle" data-toggle=".js-ask-form">Задать вопрос</button>
                </div>
                <div class="banner-box">
                    <div class="subtitle">Быстрая запись на прием</div>
                    <button type="button" class="btn-main js-toggle" data-toggle=".js-callback">Записаться</button>
                </div>
                <a class="banner-box banner-box_img">
                    <img src="./img/uploads/banner.jpg" alt="img">
                </a>
            </div>
        </div>
    </div>
</div>

{% include "partials/_footer.html" %}
{% endblock %}
