---
title: Price page
---
{% extends "layouts/_layout.html" %}

{% block content %}
{% include "partials/_header_in.html" %}
<div class="l-center">
    <div class="menu-mob-layout"></div>
    <ul class="menu-mob">
        <li>
            <a href="#">
                Акции
            </a>
        </li>
        <li>
            <a href="#">
                Услуги
            </a>
        </li>
        <li>
            <a href="#">
                Специалисты
            </a>
        </li>
        <li>
            <a href="#">
                Прейскурант
            </a>
        </li>
        <li>
            <a href="#">
                Контакты
            </a>
        </li>
    </ul>
    <div class="l-cols">
        <div class="l-main no-pad-md">
            <section class="section section_no-border">
                <div class="title title_pad-xs">
                    <div class="title__main">Цены</div>
                </div>
                <div class="pay-way">
                    <div class="text text_bigger">
                        В нашем медицинском центре к оплате принимаются карты:
                    </div>
                    <div class="pay-way__img">
                        <img src="img/visa-2.svg" alt="paymant">
                    </div>
                    <div class="pay-way__img">
                        <img src="img/master.svg" alt="paymant">
                    </div>
                    <div class="pay-way__img">
                        <img src="img/maestro.svg" alt="paymant">
                    </div>
                </div>
                <div class="accordeon">
                    <div class="accordeon__section">
                        <div class="accordeon__title js-accordeon-title">
                            Кабинет Гинекологии
                            <span class="accordeon__plus">
                            </span>
                        </div>
                        <div class="accordeon__content js-accordeon-content">
                            <table class="table">
                                <thead class="table__head">
                                    <tr>
                                        <th>
                                            Услуга
                                        </th>
                                        <th>
                                            Цена
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table__row">
                                        <td>
                                            Ампутация шейки матки (по назначению онколога)

                                        </td>
                                        <td>
                                            40 000 руб.
                                        </td>
                                    </tr>
                                    <tr class="table__row">
                                        <td>
                                            Удаление кисты большой железы преддверия влагалища (бартолиниевой железы)
                                        </td>
                                        <td>
                                            27 000 руб.
                                        </td>
                                    </tr>
                                    <tr class="table__row">
                                        <td>
                                            Гистерорезектоскопическая пластика перегородки матки
                                        </td>
                                        <td>
                                            15 000 руб.
                                        </td>
                                    </tr>
                                    <tr class="table__row">
                                        <td>
                                            Хирургическое лечение стрессового недержания мочи с применением TVT петли (без стоимости материала)	Лапароскопия, миомэктомия 2 категории сложности
                                        </td>
                                        <td>
                                            18 000 руб.
                                        </td>
                                    </tr>
                                    <tr class="table__row">
                                        <td>
                                            Гистерорезектоскопическая миомэктомия, РДВ 2 категории сложности
                                        </td>
                                        <td>
                                            19 000 руб.
                                        </td>
                                    </tr>
                                    <tr class="table__row">
                                        <td>
                                            Гистерорезектоскопическая полипэктомия 2 категоририи сложности
                                        </td>
                                        <td>
                                            33 000 руб.
                                        </td>
                                    </tr>
                                    <tr class="table__row">
                                        <td>
                                            Гистерорезектоскопическая полипэктомия, РДВ 2 категории сложности
                                        </td>
                                        <td>
                                            15 000 руб.
                                        </td>
                                    </tr>
                                    <tr class="table__row">
                                        <td>
                                            Удаление кисты влагалища (киста гартнерова хода) 2 категории сложности
                                        </td>
                                        <td>
                                            15 000 руб.
                                        </td>
                                    </tr>
                                    <tr class="table__row">
                                        <td>
                                            Хирургическая рефлорация 2 категории сложности
                                        </td>
                                        <td>
                                            19 000 руб.
                                        </td>
                                    </tr>
                                    <tr class="table__row">
                                        <td>
                                            Пластика половых губ 2 категории сложности
                                        </td>
                                        <td>
                                            22 000 руб.
                                        </td>
                                    </tr>
                                    <tr class="table__row">
                                        <td>
                                            Иссечение свищей в области вульвы промежности 2 категории сложности
                                        </td>
                                        <td>
                                            31 000 руб.
                                        </td>
                                    </tr>
                                    <tr class="table__row">
                                        <td>
                                            Хирургическое лечение опущения передней стенки влагалища (передняя кольпорафия) 2 категории сложности
                                        </td>
                                        <td>
                                            33 000 руб.
                                        </td>
                                    </tr>
                                    <tr class="table__row">
                                        <td>
                                            Хирургическое лечение опущения задней стенки влагалища (задняя кольпорафия) 2 категории сложности
                                        <td>
                                            45 000 руб.
                                        </td>
                                    </tr>
                                    <tr class="table__row">
                                        <td>
                                            Хирургическое лечение опущения передней стенки влагалища (с применением проленовой сетки 2 категории сложности)
                                        </td>
                                        <td>
                                            50 000 руб
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="accordeon__section">
                        <div class="accordeon__title js-accordeon-title">
                            Кабинет Гинекологии Операции
                            <span class="accordeon__plus">
                            </span>
                        </div>
                        <div class="accordeon__content js-accordeon-content">
                            <table class="table">
                                <thead class="table__head">
                                <tr>
                                    <th>
                                        Услуга
                                    </th>
                                    <th>
                                        Цена
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="table__row">
                                    <td>
                                        Ампутация шейки матки (по назначению онколога)

                                    </td>
                                    <td>
                                        40 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Удаление кисты большой железы преддверия влагалища (бартолиниевой железы)
                                    </td>
                                    <td>
                                        27 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Гистерорезектоскопическая пластика перегородки матки
                                    </td>
                                    <td>
                                        15 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическое лечение стрессового недержания мочи с применением TVT петли (без стоимости материала)	Лапароскопия, миомэктомия 2 категории сложности
                                    </td>
                                    <td>
                                        18 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Гистерорезектоскопическая миомэктомия, РДВ 2 категории сложности
                                    </td>
                                    <td>
                                        19 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Гистерорезектоскопическая полипэктомия 2 категоририи сложности
                                    </td>
                                    <td>
                                        33 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Гистерорезектоскопическая полипэктомия, РДВ 2 категории сложности
                                    </td>
                                    <td>
                                        15 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Удаление кисты влагалища (киста гартнерова хода) 2 категории сложности
                                    </td>
                                    <td>
                                        15 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическая рефлорация 2 категории сложности
                                    </td>
                                    <td>
                                        19 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Пластика половых губ 2 категории сложности
                                    </td>
                                    <td>
                                        22 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Иссечение свищей в области вульвы промежности 2 категории сложности
                                    </td>
                                    <td>
                                        31 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическое лечение опущения передней стенки влагалища (передняя кольпорафия) 2 категории сложности
                                    </td>
                                    <td>
                                        33 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическое лечение опущения задней стенки влагалища (задняя кольпорафия) 2 категории сложности
                                    <td>
                                        45 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическое лечение опущения передней стенки влагалища (с применением проленовой сетки 2 категории сложности)
                                    </td>
                                    <td>
                                        50 000 руб
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="accordeon__section">
                        <div class="accordeon__title js-accordeon-title">
                            Кабинет Дерматовенерологии
                            <span class="accordeon__plus">
                            </span>
                        </div>
                        <div class="accordeon__content js-accordeon-content">
                            <table class="table">
                                <thead class="table__head">
                                <tr>
                                    <th>
                                        Услуга
                                    </th>
                                    <th>
                                        Цена
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="table__row">
                                    <td>
                                        Ампутация шейки матки (по назначению онколога)

                                    </td>
                                    <td>
                                        40 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Удаление кисты большой железы преддверия влагалища (бартолиниевой железы)
                                    </td>
                                    <td>
                                        27 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Гистерорезектоскопическая пластика перегородки матки
                                    </td>
                                    <td>
                                        15 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическое лечение стрессового недержания мочи с применением TVT петли (без стоимости материала)	Лапароскопия, миомэктомия 2 категории сложности
                                    </td>
                                    <td>
                                        18 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Гистерорезектоскопическая миомэктомия, РДВ 2 категории сложности
                                    </td>
                                    <td>
                                        19 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Гистерорезектоскопическая полипэктомия 2 категоририи сложности
                                    </td>
                                    <td>
                                        33 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Гистерорезектоскопическая полипэктомия, РДВ 2 категории сложности
                                    </td>
                                    <td>
                                        15 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Удаление кисты влагалища (киста гартнерова хода) 2 категории сложности
                                    </td>
                                    <td>
                                        15 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическая рефлорация 2 категории сложности
                                    </td>
                                    <td>
                                        19 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Пластика половых губ 2 категории сложности
                                    </td>
                                    <td>
                                        22 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Иссечение свищей в области вульвы промежности 2 категории сложности
                                    </td>
                                    <td>
                                        31 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическое лечение опущения передней стенки влагалища (передняя кольпорафия) 2 категории сложности
                                    </td>
                                    <td>
                                        33 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическое лечение опущения задней стенки влагалища (задняя кольпорафия) 2 категории сложности
                                    <td>
                                        45 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическое лечение опущения передней стенки влагалища (с применением проленовой сетки 2 категории сложности)
                                    </td>
                                    <td>
                                        50 000 руб
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="accordeon__section">
                        <div class="accordeon__title js-accordeon-title">
                            Кабинет Компьютерной Томографии
                            <span class="accordeon__plus">
                            </span>
                        </div>
                        <div class="accordeon__content js-accordeon-content">
                            <table class="table">
                                <thead class="table__head">
                                <tr>
                                    <th>
                                        Услуга
                                    </th>
                                    <th>
                                        Цена
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="table__row">
                                    <td>
                                        Ампутация шейки матки (по назначению онколога)

                                    </td>
                                    <td>
                                        40 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Удаление кисты большой железы преддверия влагалища (бартолиниевой железы)
                                    </td>
                                    <td>
                                        27 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Гистерорезектоскопическая пластика перегородки матки
                                    </td>
                                    <td>
                                        15 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическое лечение стрессового недержания мочи с применением TVT петли (без стоимости материала)	Лапароскопия, миомэктомия 2 категории сложности
                                    </td>
                                    <td>
                                        18 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Гистерорезектоскопическая миомэктомия, РДВ 2 категории сложности
                                    </td>
                                    <td>
                                        19 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Гистерорезектоскопическая полипэктомия 2 категоририи сложности
                                    </td>
                                    <td>
                                        33 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Гистерорезектоскопическая полипэктомия, РДВ 2 категории сложности
                                    </td>
                                    <td>
                                        15 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Удаление кисты влагалища (киста гартнерова хода) 2 категории сложности
                                    </td>
                                    <td>
                                        15 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическая рефлорация 2 категории сложности
                                    </td>
                                    <td>
                                        19 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Пластика половых губ 2 категории сложности
                                    </td>
                                    <td>
                                        22 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Иссечение свищей в области вульвы промежности 2 категории сложности
                                    </td>
                                    <td>
                                        31 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическое лечение опущения передней стенки влагалища (передняя кольпорафия) 2 категории сложности
                                    </td>
                                    <td>
                                        33 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическое лечение опущения задней стенки влагалища (задняя кольпорафия) 2 категории сложности
                                    <td>
                                        45 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическое лечение опущения передней стенки влагалища (с применением проленовой сетки 2 категории сложности)
                                    </td>
                                    <td>
                                        50 000 руб
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="accordeon__section">
                        <div class="accordeon__title js-accordeon-title">
                            Кабинет Неврологии
                            <span class="accordeon__plus">
                            </span>
                        </div>
                        <div class="accordeon__content js-accordeon-content">
                            <table class="table">
                                <thead class="table__head">
                                <tr>
                                    <th>
                                        Услуга
                                    </th>
                                    <th>
                                        Цена
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="table__row">
                                    <td>
                                        Ампутация шейки матки (по назначению онколога)

                                    </td>
                                    <td>
                                        40 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Удаление кисты большой железы преддверия влагалища (бартолиниевой железы)
                                    </td>
                                    <td>
                                        27 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Гистерорезектоскопическая пластика перегородки матки
                                    </td>
                                    <td>
                                        15 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическое лечение стрессового недержания мочи с применением TVT петли (без стоимости материала)	Лапароскопия, миомэктомия 2 категории сложности
                                    </td>
                                    <td>
                                        18 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Гистерорезектоскопическая миомэктомия, РДВ 2 категории сложности
                                    </td>
                                    <td>
                                        19 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Гистерорезектоскопическая полипэктомия 2 категоририи сложности
                                    </td>
                                    <td>
                                        33 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Гистерорезектоскопическая полипэктомия, РДВ 2 категории сложности
                                    </td>
                                    <td>
                                        15 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Удаление кисты влагалища (киста гартнерова хода) 2 категории сложности
                                    </td>
                                    <td>
                                        15 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическая рефлорация 2 категории сложности
                                    </td>
                                    <td>
                                        19 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Пластика половых губ 2 категории сложности
                                    </td>
                                    <td>
                                        22 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Иссечение свищей в области вульвы промежности 2 категории сложности
                                    </td>
                                    <td>
                                        31 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическое лечение опущения передней стенки влагалища (передняя кольпорафия) 2 категории сложности
                                    </td>
                                    <td>
                                        33 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическое лечение опущения задней стенки влагалища (задняя кольпорафия) 2 категории сложности
                                    <td>
                                        45 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическое лечение опущения передней стенки влагалища (с применением проленовой сетки 2 категории сложности)
                                    </td>
                                    <td>
                                        50 000 руб
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="accordeon__section">
                        <div class="accordeon__title js-accordeon-title">
                            Кабинет Онкологии
                            <span class="accordeon__plus">
                            </span>
                        </div>
                        <div class="accordeon__content js-accordeon-content">
                            <table class="table">
                                <thead class="table__head">
                                <tr>
                                    <th>
                                        Услуга
                                    </th>
                                    <th>
                                        Цена
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="table__row">
                                    <td>
                                        Ампутация шейки матки (по назначению онколога)

                                    </td>
                                    <td>
                                        40 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Удаление кисты большой железы преддверия влагалища (бартолиниевой железы)
                                    </td>
                                    <td>
                                        27 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Гистерорезектоскопическая пластика перегородки матки
                                    </td>
                                    <td>
                                        15 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическое лечение стрессового недержания мочи с применением TVT петли (без стоимости материала)	Лапароскопия, миомэктомия 2 категории сложности
                                    </td>
                                    <td>
                                        18 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Гистерорезектоскопическая миомэктомия, РДВ 2 категории сложности
                                    </td>
                                    <td>
                                        19 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Гистерорезектоскопическая полипэктомия 2 категоририи сложности
                                    </td>
                                    <td>
                                        33 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Гистерорезектоскопическая полипэктомия, РДВ 2 категории сложности
                                    </td>
                                    <td>
                                        15 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Удаление кисты влагалища (киста гартнерова хода) 2 категории сложности
                                    </td>
                                    <td>
                                        15 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическая рефлорация 2 категории сложности
                                    </td>
                                    <td>
                                        19 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Пластика половых губ 2 категории сложности
                                    </td>
                                    <td>
                                        22 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Иссечение свищей в области вульвы промежности 2 категории сложности
                                    </td>
                                    <td>
                                        31 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическое лечение опущения передней стенки влагалища (передняя кольпорафия) 2 категории сложности
                                    </td>
                                    <td>
                                        33 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическое лечение опущения задней стенки влагалища (задняя кольпорафия) 2 категории сложности
                                    <td>
                                        45 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическое лечение опущения передней стенки влагалища (с применением проленовой сетки 2 категории сложности)
                                    </td>
                                    <td>
                                        50 000 руб
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="accordeon__section">
                        <div class="accordeon__title js-accordeon-title">
                            Кабинет Оториноларингологии
                            <span class="accordeon__plus">
                            </span>
                        </div>
                        <div class="accordeon__content js-accordeon-content">
                            <table class="table">
                                <thead class="table__head">
                                <tr>
                                    <th>
                                        Услуга
                                    </th>
                                    <th>
                                        Цена
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="table__row">
                                    <td>
                                        Ампутация шейки матки (по назначению онколога)

                                    </td>
                                    <td>
                                        40 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Удаление кисты большой железы преддверия влагалища (бартолиниевой железы)
                                    </td>
                                    <td>
                                        27 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Гистерорезектоскопическая пластика перегородки матки
                                    </td>
                                    <td>
                                        15 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическое лечение стрессового недержания мочи с применением TVT петли (без стоимости материала)	Лапароскопия, миомэктомия 2 категории сложности
                                    </td>
                                    <td>
                                        18 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Гистерорезектоскопическая миомэктомия, РДВ 2 категории сложности
                                    </td>
                                    <td>
                                        19 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Гистерорезектоскопическая полипэктомия 2 категоририи сложности
                                    </td>
                                    <td>
                                        33 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Гистерорезектоскопическая полипэктомия, РДВ 2 категории сложности
                                    </td>
                                    <td>
                                        15 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Удаление кисты влагалища (киста гартнерова хода) 2 категории сложности
                                    </td>
                                    <td>
                                        15 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическая рефлорация 2 категории сложности
                                    </td>
                                    <td>
                                        19 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Пластика половых губ 2 категории сложности
                                    </td>
                                    <td>
                                        22 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Иссечение свищей в области вульвы промежности 2 категории сложности
                                    </td>
                                    <td>
                                        31 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическое лечение опущения передней стенки влагалища (передняя кольпорафия) 2 категории сложности
                                    </td>
                                    <td>
                                        33 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическое лечение опущения задней стенки влагалища (задняя кольпорафия) 2 категории сложности
                                    <td>
                                        45 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическое лечение опущения передней стенки влагалища (с применением проленовой сетки 2 категории сложности)
                                    </td>
                                    <td>
                                        50 000 руб
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="accordeon__section">
                        <div class="accordeon__title js-accordeon-title">
                            Кабинет Офтальмологии
                            <span class="accordeon__plus">
                            </span>
                        </div>
                        <div class="accordeon__content js-accordeon-content">
                            <table class="table">
                                <thead class="table__head">
                                <tr>
                                    <th>
                                        Услуга
                                    </th>
                                    <th>
                                        Цена
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="table__row">
                                    <td>
                                        Ампутация шейки матки (по назначению онколога)

                                    </td>
                                    <td>
                                        40 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Удаление кисты большой железы преддверия влагалища (бартолиниевой железы)
                                    </td>
                                    <td>
                                        27 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Гистерорезектоскопическая пластика перегородки матки
                                    </td>
                                    <td>
                                        15 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическое лечение стрессового недержания мочи с применением TVT петли (без стоимости материала)	Лапароскопия, миомэктомия 2 категории сложности
                                    </td>
                                    <td>
                                        18 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Гистерорезектоскопическая миомэктомия, РДВ 2 категории сложности
                                    </td>
                                    <td>
                                        19 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Гистерорезектоскопическая полипэктомия 2 категоририи сложности
                                    </td>
                                    <td>
                                        33 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Гистерорезектоскопическая полипэктомия, РДВ 2 категории сложности
                                    </td>
                                    <td>
                                        15 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Удаление кисты влагалища (киста гартнерова хода) 2 категории сложности
                                    </td>
                                    <td>
                                        15 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическая рефлорация 2 категории сложности
                                    </td>
                                    <td>
                                        19 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Пластика половых губ 2 категории сложности
                                    </td>
                                    <td>
                                        22 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Иссечение свищей в области вульвы промежности 2 категории сложности
                                    </td>
                                    <td>
                                        31 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическое лечение опущения передней стенки влагалища (передняя кольпорафия) 2 категории сложности
                                    </td>
                                    <td>
                                        33 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическое лечение опущения задней стенки влагалища (задняя кольпорафия) 2 категории сложности
                                    <td>
                                        45 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическое лечение опущения передней стенки влагалища (с применением проленовой сетки 2 категории сложности)
                                    </td>
                                    <td>
                                        50 000 руб
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="accordeon__section">
                        <div class="accordeon__title js-accordeon-title">
                            Кабинет Ультразвуковой Диагностики
                            <span class="accordeon__plus">
                            </span>
                        </div>
                        <div class="accordeon__content js-accordeon-content">
                            <table class="table">
                                <thead class="table__head">
                                <tr>
                                    <th>
                                        Услуга
                                    </th>
                                    <th>
                                        Цена
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="table__row">
                                    <td>
                                        Ампутация шейки матки (по назначению онколога)

                                    </td>
                                    <td>
                                        40 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Удаление кисты большой железы преддверия влагалища (бартолиниевой железы)
                                    </td>
                                    <td>
                                        27 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Гистерорезектоскопическая пластика перегородки матки
                                    </td>
                                    <td>
                                        15 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическое лечение стрессового недержания мочи с применением TVT петли (без стоимости материала)	Лапароскопия, миомэктомия 2 категории сложности
                                    </td>
                                    <td>
                                        18 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Гистерорезектоскопическая миомэктомия, РДВ 2 категории сложности
                                    </td>
                                    <td>
                                        19 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Гистерорезектоскопическая полипэктомия 2 категоририи сложности
                                    </td>
                                    <td>
                                        33 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Гистерорезектоскопическая полипэктомия, РДВ 2 категории сложности
                                    </td>
                                    <td>
                                        15 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Удаление кисты влагалища (киста гартнерова хода) 2 категории сложности
                                    </td>
                                    <td>
                                        15 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическая рефлорация 2 категории сложности
                                    </td>
                                    <td>
                                        19 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Пластика половых губ 2 категории сложности
                                    </td>
                                    <td>
                                        22 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Иссечение свищей в области вульвы промежности 2 категории сложности
                                    </td>
                                    <td>
                                        31 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическое лечение опущения передней стенки влагалища (передняя кольпорафия) 2 категории сложности
                                    </td>
                                    <td>
                                        33 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическое лечение опущения задней стенки влагалища (задняя кольпорафия) 2 категории сложности
                                    <td>
                                        45 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическое лечение опущения передней стенки влагалища (с применением проленовой сетки 2 категории сложности)
                                    </td>
                                    <td>
                                        50 000 руб
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="accordeon__section">
                        <div class="accordeon__title js-accordeon-title">
                            Кабинет Урологии
                            <span class="accordeon__plus">
                            </span>
                        </div>
                        <div class="accordeon__content js-accordeon-content">
                            <table class="table">
                                <thead class="table__head">
                                <tr>
                                    <th>
                                        Услуга
                                    </th>
                                    <th>
                                        Цена
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="table__row">
                                    <td>
                                        Ампутация шейки матки (по назначению онколога)

                                    </td>
                                    <td>
                                        40 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Удаление кисты большой железы преддверия влагалища (бартолиниевой железы)
                                    </td>
                                    <td>
                                        27 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Гистерорезектоскопическая пластика перегородки матки
                                    </td>
                                    <td>
                                        15 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическое лечение стрессового недержания мочи с применением TVT петли (без стоимости материала)	Лапароскопия, миомэктомия 2 категории сложности
                                    </td>
                                    <td>
                                        18 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Гистерорезектоскопическая миомэктомия, РДВ 2 категории сложности
                                    </td>
                                    <td>
                                        19 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Гистерорезектоскопическая полипэктомия 2 категоририи сложности
                                    </td>
                                    <td>
                                        33 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Гистерорезектоскопическая полипэктомия, РДВ 2 категории сложности
                                    </td>
                                    <td>
                                        15 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Удаление кисты влагалища (киста гартнерова хода) 2 категории сложности
                                    </td>
                                    <td>
                                        15 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическая рефлорация 2 категории сложности
                                    </td>
                                    <td>
                                        19 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Пластика половых губ 2 категории сложности
                                    </td>
                                    <td>
                                        22 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Иссечение свищей в области вульвы промежности 2 категории сложности
                                    </td>
                                    <td>
                                        31 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическое лечение опущения передней стенки влагалища (передняя кольпорафия) 2 категории сложности
                                    </td>
                                    <td>
                                        33 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическое лечение опущения задней стенки влагалища (задняя кольпорафия) 2 категории сложности
                                    <td>
                                        45 000 руб.
                                    </td>
                                </tr>
                                <tr class="table__row">
                                    <td>
                                        Хирургическое лечение опущения передней стенки влагалища (с применением проленовой сетки 2 категории сложности)
                                    </td>
                                    <td>
                                        50 000 руб
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </section>
        </div>
        <div class="l-sidebar hidden-md">
            <div class="margin-wrap">
                <div class="banner-box banner-box_main">
                    <div class="subtitle">Бесплатная консультация</div>
                    <a class="tel" href="tel:+ 7 963 555 10 17">+ 7 963 555 10 17</a>
                    <div><button type="button" class="btn-feedback js-toggle" data-toggle=".js-callback">Перезвоните</button></div>
                    <button type="button" class="btn-feedback btn-feedback_reverse js-toggle" data-toggle=".js-ask-form">Задать вопрос</button>
                </div>
                <div class="banner-box">
                    <div class="subtitle">Быстрая запись на прием</div>
                    <button type="button" class="btn-main js-toggle" data-toggle=".js-callback">Записаться</button>
                </div>
                <a class="banner-box banner-box_img">
                    <img src="./img/uploads/banner.jpg" alt="img">
                </a>
            </div>
        </div>
    </div>
</div>

{% include "partials/_footer.html" %}
{% endblock %}
