---
title: Specialisti page
---
{% extends "layouts/_layout.html" %}

{% block content %}
{% include "partials/_header_in.html" %}
<div class="l-center">
    <div class="menu-mob-layout"></div>
    <ul class="menu-mob">
        <li>
            <a href="#">
                Акции
            </a>
        </li>
        <li>
            <a href="#">
                Услуги
            </a>
        </li>
        <li>
            <a href="#">
                Специалисты
            </a>
        </li>
        <li>
            <a href="#">
                Прейскурант
            </a>
        </li>
        <li>
            <a href="#">
                Контакты
            </a>
        </li>
    </ul>
    <div class="l-cols">
        <div class="l-main">
            <section class="section section_no-border">
                <div class="title">
                    <div class="title__main">Специалисты</div>
                </div>
                <div class="items-wrap">
                    <a class="item" href="#">
                        <span class="item__badge">
                            {{mixins.icon('organ')}}
                        </span>
                        <div class="item__img">
                            <img src="./img/uploads/doctor.jpg" alt="doctor">
                        </div>
                        <div class="item__info">
                            <div class="item__title">Зиновьева И.А.</div>
                            <div class="text">Врач акушер-гинеколог высшей квалификационой категории</div>
                        </div>
                    </a>
                    <a class="item" href="#">
                        <span class="item__badge">
                            {{mixins.icon('gynecology')}}
                        </span>
                        <div class="item__img">
                            <img src="./img/uploads/doc-1.jpg" alt="doctor">
                        </div>
                        <div class="item__info">
                            <div class="item__title">Васильева П.П.
                            </div>
                            <div class="text">
                                Врач маммолог-онколог высшей квалификационной категории
                            </div>
                        </div>
                    </a>
                    <a class="item" href="#">
                        <span class="item__badge">
                            {{mixins.icon('monitor')}}
                        </span>
                        <div class="item__img">
                            <img src="./img/uploads/doc-2.jpg" alt="doctor">
                        </div>
                        <div class="item__info">
                            <div class="item__title">Симонов И.В.
                            </div>
                            <div class="text">Врач акушер-гинеколог высшей квалификационой категории</div>
                        </div>
                    </a>
                    <a class="item" href="#">
                        <span class="item__badge">
                            {{mixins.icon('socket')}}
                        </span>
                        <div class="item__img">
                            <img src="./img/uploads/doc-3.jpg" alt="doctor">
                        </div>
                        <div class="item__info">
                            <div class="item__title">Кривошеев Г.С.</div>
                            <div class="text">Врач акушер-гинеколог высшей квалификационой категории</div>
                        </div>
                    </a>
                    <a class="item" href="#">
                        <span class="item__badge">
                            {{mixins.icon('eye')}}
                        </span>
                        <div class="item__img">
                            <img src="./img/uploads/doc-4.jpg" alt="doctor">
                        </div>
                        <div class="item__info">
                            <div class="item__title">Иванчук П.С.</div>
                            <div class="text">Врач акушер-гинеколог высшей квалификационой категории</div>
                        </div>
                    </a>
                    <a class="item" href="#">
                        <span class="item__badge">
                            {{mixins.icon('person')}}
                        </span>
                        <div class="item__img">
                            <img src="./img/uploads/doc-5.jpg" alt="doctor">
                        </div>
                        <div class="item__info">
                            <div class="item__title">Петров А.А.</div>
                            <div class="text">Врач акушер-гинеколог высшей квалификационой категории</div>
                        </div>
                    </a>
                    <a class="item" href="#">
                        <span class="item__badge">
                            {{mixins.icon('brain')}}
                        </span>
                        <div class="item__img">
                            <img src="./img/uploads/doc-6.jpg" alt="doctor">
                        </div>
                        <div class="item__info">
                            <div class="item__title">Алексеева И.А.</div>
                            <div class="text">Врач акушер-гинеколог высшей квалификационой категории</div>
                        </div>
                    </a>
                    <a class="item" href="#">
                        <span class="item__badge">
                            {{mixins.icon('heartrate')}}
                        </span>
                        <div class="item__img">
                            <img src="./img/uploads/doc-7.jpg" alt="doctor">
                        </div>
                        <div class="item__info">
                            <div class="item__title">Михеева Е.Б.</div>
                            <div class="text">Врач акушер-гинеколог высшей квалификационой категории</div>
                        </div>
                    </a>
                    <a class="item" href="#">
                        <span class="item__badge">
                            {{mixins.icon('organ')}}
                        </span>
                        <div class="item__img">
                            <img src="./img/uploads/doc-8.jpg" alt="doctor">
                        </div>
                        <div class="item__info">
                            <div class="item__title">Томилова П.Г. </div>
                            <div class="text">Врач акушер-гинеколог высшей квалификационой категории</div>
                        </div>
                    </a>
                    <a class="item" href="#">
                        <span class="item__badge">
                            {{mixins.icon('gynecology')}}
                        </span>
                        <div class="item__img">
                            <img src="./img/uploads/doc-9.jpg" alt="doctor">
                        </div>
                        <div class="item__info">
                            <div class="item__title">Хлюпина Е.В.</div>
                            <div class="text">Врач акушер-гинеколог высшей квалификационой категории</div>
                        </div>
                    </a>
                    <a class="item" href="#">
                        <span class="item__badge">
                            {{mixins.icon('monitor')}}
                        </span>
                        <div class="item__img">
                            <img src="./img/uploads/doc-10.jpg" alt="doctor">
                        </div>
                        <div class="item__info">
                            <div class="item__title">Звягинцев О.С.</div>
                            <div class="text">Врач акушер-гинеколог высшей квалификационой категории</div>
                        </div>
                    </a>
                </div>
            </section>

        </div>
        <div class="l-sidebar hidden-sm">
            <div class="margin-wrap">
                <div class="banner-box banner-box_main">
                    <div class="subtitle">Бесплатная консультация</div>
                    <a class="tel" href="tel:+ 7 963 555 10 17">+ 7 963 555 10 17</a>
                    <button type="button" class="btn-feedback js-toggle" data-toggle=".js-callback">Перезвоните</button>
                    <button type="button" class="btn-feedback btn-feedback_reverse js-toggle" data-toggle=".js-ask-form">Задать вопрос</button>
                </div>
                <div class="banner-box">
                    <div class="subtitle">Быстрая запись на прием</div>
                    <button type="button" class="btn-main js-toggle" data-toggle=".js-callback">Записаться</button>
                </div>
                <a class="banner-box banner-box_img">
                    <img src="./img/uploads/banner.jpg" alt="img">
                </a>
            </div>
        </div>
    </div>
</div>

{% include "partials/_footer.html" %}
{% endblock %}
