<footer class="footer">
    <div class="l-center">
        <div class="footer__left">
            © 2016 Медицинский центр «Пульс»
            All right reserved
        </div>
        <div class="footer__main">
            <div class="soc">
                <a href="#" class="soc__ig">
                   {{mixins.icon('ig')}}
                </a>
                <a href="#" class="soc__tw">
                    {{mixins.icon('tw')}}
                </a>
                <a href="#" class="soc__fb">
                    {{mixins.icon('fb')}}
                </a>
            </div>
        </div>
        <div class="footer__right">
            <div class="footer__nav">
                <a href="#"><span>О центре</span></a>
                <a href="#"><span>Отзывы</span></a>
                <a href="#"><span>Запись на прием</span></a>
                <a href="#"><span>Вызов врача</span></a>
                <a href="#"><span>Пациенту</span></a>
                <a href="#"><span>Контакты</span></a>
            </div>
        </div>
    </div>
</footer>
{% include "partials/_popups.html" %}