<header class="header">
    <div class="header__top">
        <div class="l-center">
            <div class="header__left">
                <nav class="nav hidden-md">
                    <a href="#" class="nav__link">О центре</a>
                    <a href="#" class="nav__link">Отзывы</a>
                    <a href="#" class="nav__link">Запись на прием</a>
                    <a href="#" class="nav__link">Вызов врача</a>
                    <a href="#" class="nav__link">Пациенту</a>
                    <a href="#" class="nav__link">Контакты</a>
                </nav>
                <button type="button" class="burger visible-md js-toggle" data-root-class="is-open-menu">
                    <i></i>
                </button>
                <a href="#" class="logo visible-md">
                    <svg width="121" height="40" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 226.7 74.5" enable-background="new 0 0 226.7 74.5">
                        <style type="text/css">.st0{fill:#E2358C;} .st1{fill:#A83593;} .st2{fill:#3F2A3C;}</style>
                        <path class="st0" d="M42.3 47.3c-.8 0-1.5-.7-1.5-1.5v-11.1c0-.8 1.6-2.4 1.5-1.5-.1 2.4 1.5 2.8 1.5 3.7v8.9c0 .8-.6 1.5-1.5 1.5zM45.3 39.4c-1 0-2-.2-3-.5-.5-.2-.8-.5-1-1-1.1-3.5-.2-7.3 2.4-9.9 2.1-2.1 6.4-2.4 8.8-2.4h.7c.8 0 1.4.7 1.5 1.5 0 .7.2 6.8-2.4 9.5-2 1.8-4.4 2.8-7 2.8zm-1.7-3.2c.4.1.9.1 1.3.1 1.8 0 3.4-.7 4.7-1.9 1-1 1.4-3.7 1.5-5.7-2.7.1-4.9.7-5.7 1.5-1.6 1.6-2.3 3.8-1.8 6zM31.4 39.4c-2.6 0-5-1-6.8-2.8-2.7-2.7-2.5-8.8-2.4-9.5 0-.8.7-1.4 1.5-1.5h.7c2.4 0 6.7.3 8.8 2.4 2.6 2.6 3.5 6.4 2.4 9.9-.2.5-.5.8-1 1-1.1.3-2.1.5-3.2.5zm-6.2-10.7c.1 2.1.5 4.7 1.5 5.7 1.3 1.3 2.9 1.9 4.7 1.9.4 0 .9 0 1.3-.1.4-2.2-.2-4.4-1.8-6-.8-.8-3-1.4-5.7-1.5zM38.3 28.4c-.2 0-.5-.1-.7-.2-3.3-1.7-5.3-5-5.3-8.6 0-3.7 4.5-7.9 5-8.4.6-.5 1.5-.5 2.1 0 .5.5 5 4.7 5 8.4s-2 7-5.3 8.6c-.3.1-.5.2-.8.2zm0-14c-1.4 1.5-3 3.7-3 5.1 0 2.2 1.1 4.3 3 5.5 1.8-1.2 3-3.3 3-5.5 0-1.4-1.6-3.6-3-5.1z" />
                        <path class="st1" d="M69.7 51.1h-27.400000000000002c-.5 0-.9.2-1.2.6l-5.2 6.3v-13.7c0-.6-.3-1.1-.7-1.4-.7-.4-1.5-.2-2 .3l-7.5 7.8h-19.8l1.5 3.1h19c.4 0 .9-.2 1.2-.5l5.2-5.2v13.8c0 .5.2.9.5 1.2.3.2.6.4 1 .4s.9-.2 1.2-.6l7.5-9.1h26.7c.4 0 .7-.1 1-.3l.6-1.2c.3-.7-.2-1.5-1-1.5h-.6zM69.7 54.1h-2.7c-5.9 10.4-17 17.4-29.8 17.4-10.9 0-20.6-5.1-26.9-13.1-.3-.4-.7-.6-1.2-.6-1.3 0-2 1.4-1.2 2.4 6.8 8.7 17.4 14.2 29.2 14.2 14.6 0 27.3-8.5 33.4-20.8-.1.4-.4.5-.8.5zM38.8 0v3c17.2.8 31.4 14.5 32.6 31.7.3 3.7-.1 7.3-.9 10.7-.2.9.5 1.9 1.5 1.9.7 0 1.3-.5 1.5-1.1.7-2.9 1.1-5.8 1.1-8.9-.1-20.1-16-36.5-35.8-37.3zM37.3 0c-20.6 0-37.3 16.7-37.3 37.3 0 5.5 1.2 10.7 3.3 15.4l.2.3c.3.7 1 1.1 1.8 1.1h2.2c-.6-1-1.1-2-1.5-3.1-2.2-5-3.2-10.5-2.8-16.4 1.2-17.1 15.3-30.8 32.5-31.5h3.1v-3.1h-1.5z" />
                        <path class="st2" d="M92.5 54.7c1.2 0 2.1-.9 2.1-2.1v-23.2h15.4v23.2c0 1.2.9 2.1 2.1 2.1 1.2 0 2.1-.9 2.1-2.1v-24c0-1.6-1.3-2.9-2.9-2.9h-18c-1.6 0-2.9 1.3-2.9 2.9v24c0 1.1 1 2.1 2.1 2.1zM142 25.6c-.8 0-1.5.5-1.9 1.2l-7.9 18.5-.3.8-9.6-19.3c-.3-.7-1-1.1-1.8-1.1-1.5 0-2.5 1.6-1.8 2.9l10.9 21.7c-.2.2-.4.4-.6.5-.3.2-.6.3-1 .4-.4.1-.9.2-1.5.2h-1.1c-.9 0-1.6.7-1.7 1.5-.1 1 .7 1.9 1.8 1.9.9 0 1.8-.1 2.2-.1 1-.1 1.9-.4 2.6-.6.7-.3 1.4-.7 1.9-1.2s1-1.1 1.4-1.8c.4-.7.9-1.5 1.3-2.4.4-.9.9-1.9 1.5-3l7.8-17.2c.6-1.3-.4-2.8-1.8-2.8h-.4zM148.3 45.5c-.1 1.5-.2 2.7-.5 3.6-.2.8-.5 1.3-.9 1.7-.4.3-.8.5-1.4.6-.3 0-.8.1-1.4.1-.9 0-1.6.7-1.7 1.5-.1 1.1.7 2 1.8 1.9 1 0 2.1-.1 2.8-.3 1.2-.3 2.2-.7 3-1.4.8-.7 1.3-1.7 1.7-3 .4-1.2.6-2.8.7-4.8l.8-16h11.9v23.2c0 1.2.9 2.1 2.1 2.1 1.2 0 2.1-.9 2.1-2.1v-24c0-1.6-1.3-2.9-2.9-2.9h-14.7c-1.5 0-2.8 1.2-2.9 2.8l-.5 17zM195.2 37.4c-.9-.7-2.1-1.1-3.6-1.4-1.4-.2-3.2-.3-5.3-.3h-7.5v-7.9c0-1.2-1-2.1-2.1-2.1-1.2 0-2.1 1-2.1 2.1v24c0 1.6 1.3 2.9 2.9 2.9h8.9c2.1 0 3.8-.1 5.3-.3 1.5-.2 2.7-.7 3.6-1.4.9-.7 1.6-1.7 2-3 .4-1.2.6-2.8.6-4.8s-.2-3.6-.6-4.8c-.5-1.3-1.2-2.3-2.1-3zm-8.8 13.6h-7.6v-11.7h7.6c1.3 0 2.5 0 3.4.1.9.1 1.5.3 2 .6s.8.9 1.1 1.6c.3.8.4 1.9.4 3.4v.3c0 1.5-.1 2.6-.4 3.4-.2.7-.6 1.2-1.1 1.6-.5.4-1.2.6-2 .7h-3.4zM224 49.6s-2.1 1.1-3.6 1.5c-1.4.4-3 .5-4.7.5-1.5 0-3-.1-4.2-.3-1.2-.2-2.3-.7-3.2-1.4-.9-.7-1.6-1.9-2.1-3.4s-.8-3.7-.8-6.3c0-2.7.3-4.8.8-6.3s1.2-2.6 2.1-3.4c.9-.7 2-1.2 3.2-1.4 1.3-.2 2.7-.3 4.2-.3 1.7 0 3.3.2 4.7.5 1.4.4 3.6 1.5 3.6 1.5.9.4 1.9 0 2.4-.8.6-1 .1-2.2-.9-2.7l-.8-.3c-2.5-1.2-4.9-1.8-9-1.8-2.2 0-4.2.2-5.9.6-1.8.4-3.4 1.1-4.7 2.2-1.3 1.1-2.3 2.7-3 4.7-.7 1.9-1 4.5-1 7.6 0 3.1.3 5.7 1 7.6.7 2 1.7 3.5 3 4.7 1.3 1.1 2.9 1.9 4.7 2.2 1.8.4 3.7.6 5.9.6 4.1 0 6.5-.6 9-1.8l.8-.3c1-.5 1.4-1.7.9-2.7-.5-1-1.5-1.4-2.4-1z" />
                    </svg>
                </a>

            </div>
            <div class="header__right">
                <div class="search">
                    <form action="#">
                        <input class="search__input" type="text" placeholder="Поиск по сайту...">
                        <button class="search__btn" type="submit">
                            {{mixins.icon('search')}}
                        </button>
                    </form>
                </div>
                <a class="login" href="#">
                    {{mixins.icon('user')}}
                    <span>Авторизация</span>
                </a>
            </div>
        </div>
    </div>
    <div class="header__main">
        <div class="l-center">
            <a href="#" class="logo">
                <img src="./img/logo.svg" width="244" height="80" alt="Пульс">
                Пульс - медицинский центр
            </a>
            <a href="#" class="logo logo_sticky">
                <img src="./img/logo-m.svg" width="121" height="40" alt="Пульс">
            </a>
            <ul class="menu">
                <li class="menu__item">
                    <a class="menu__link" href="#">Акции</a>
                </li>
                <li class="menu__item is-dropdown">
                    <a class="menu__link" href="#">Услуги</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">
                                Гинекология
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Урология
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Узи
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Терапия
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Выдача мед. справок

                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Лор
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Неврология
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                Больничные листы
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">Специалисты</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">Программы</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">Прейскурант</a>
                </li>
            </ul>
            <a class="login login_hidden" href="#">
                {{mixins.icon('user')}}
                <span>Авторизация</span>
            </a>
            <div class="contact">
                <span class="contact__title">Круглосуточно</span>
                <a class="contact__link" href="tel:+79635541097">+7 963 554 10 97</a>
            </div>
        </div>
    </div>
</header>
{% include "partials/_header-scroll.html" %}