
<div class="header-scroll">
    <div class="l-center">
        <a href="#" class="logo">
            <img src="./img/logo-m.svg" width="144" height="47" alt="Пульс">
            Пульс - медицинский центр
        </a>
        <ul class="menu">
            <li class="menu__item">
                <a class="menu__link" href="#">Акции</a>
            </li>
            <li class="menu__item is-dropdown">
                <a class="menu__link" href="#">Услуги</a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">
                            Гинекология
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Урология
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Узи
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Терапия
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Выдача мед. справок

                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Лор
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Неврология
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Больничные листы
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#">Специалисты</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#">Программы</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#">Прейскурант</a>
            </li>
        </ul>
        <a class="login" href="#">
            {{mixins.icon('user')}}
            <span>Авторизация</span>
        </a>
        <div class="contact">
            <span class="contact__title">Круглосуточно</span>
            <a class="contact__link" href="tel:+79635541097">+7 963 554 10 97</a>
        </div>
    </div>
</div>