<div class="popup js-callback js-popup">
    <div class="popup__layout">
    </div>
    <div class="popup__in">
        <button type="button" class="btn-close js-toggle" data-toggle=".js-popup">
            <i></i>
        </button>
        <div class="title_simple">
            Заказать
            обратный звонок
        </div>
        <label class="field">
            <span class="field__name">
                Ваше имя:
            </span>
            <input type="text">
        </label>
        <label class="field">
            <span class="field__name">
               Телефон:
            </span>
            <input type="tel">
        </label>
        <label class="field">
            <span class="field__name">
                Тема для обсуждения (необязательно):
            </span>
            <input type="text">
        </label>
        <button type="submit" class="btn-main btn-main_second">
            Отправить
        </button>
    </div>
</div>