{% import "partials/_mixins.html" as mixins %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fff">
    <meta name="format-detection" content="telephone=no">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700&amp;subset=cyrillic,cyrillic-ext"
          rel="stylesheet">
    <link rel="stylesheet" media="all" href="css/app.css">
    {# {% include "../partials/_media-tags.html" %} #}
</head>
<body>

<!-- BEGIN content -->
<div class="out">
    {% block content %}{% endblock %}
</div>
<!-- END content -->

<!-- BEGIN scripts -->
<script type="text/javascript" src="js/app.js"></script>
<!-- END scripts -->

</body>
</html>
