@font-face {
  font-family: "iconfont";
  src: url('fonts/iconfont.eot');
  src: url('fonts/iconfont.eot?#iefix') format('eot'),
    url('fonts/iconfont.woff2') format('woff2'),
    url('fonts/iconfont.woff') format('woff'),
    url('fonts/iconfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$icon-arr-d: "\EA01";
$icon-arrs-l: "\EA02";
$icon-arrs-r: "\EA03";
$icon-brain: "\EA04";
$icon-card: "\EA05";
$icon-cards: "\EA06";
$icon-caret-l: "\EA07";
$icon-caret-r: "\EA08";
$icon-checked: "\EA09";
$icon-dermatology: "\EA0A";
$icon-endocrinology: "\EA0B";
$icon-eye: "\EA0C";
$icon-facebook: "\EA0D";
$icon-fb: "\EA0E";
$icon-gynecology: "\EA0F";
$icon-heartrate: "\EA10";
$icon-ig: "\EA11";
$icon-loc: "\EA12";
$icon-logo: "\EA13";
$icon-manual-therapy: "\EA14";
$icon-massage: "\EA15";
$icon-monitor: "\EA16";
$icon-obstetrics: "\EA17";
$icon-organ: "\EA18";
$icon-person: "\EA19";
$icon-search: "\EA1A";
$icon-socket: "\EA1B";
$icon-tw: "\EA1C";
$icon-user: "\EA1D";


%icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  @extend %icon;
  display: inline-block;
}

.icon-arr-d:before { content: $icon-arr-d; }
.icon-arrs-l:before { content: $icon-arrs-l; }
.icon-arrs-r:before { content: $icon-arrs-r; }
.icon-brain:before { content: $icon-brain; }
.icon-card:before { content: $icon-card; }
.icon-cards:before { content: $icon-cards; }
.icon-caret-l:before { content: $icon-caret-l; }
.icon-caret-r:before { content: $icon-caret-r; }
.icon-checked:before { content: $icon-checked; }
.icon-dermatology:before { content: $icon-dermatology; }
.icon-endocrinology:before { content: $icon-endocrinology; }
.icon-eye:before { content: $icon-eye; }
.icon-facebook:before { content: $icon-facebook; }
.icon-fb:before { content: $icon-fb; }
.icon-gynecology:before { content: $icon-gynecology; }
.icon-heartrate:before { content: $icon-heartrate; }
.icon-ig:before { content: $icon-ig; }
.icon-loc:before { content: $icon-loc; }
.icon-logo:before { content: $icon-logo; }
.icon-manual-therapy:before { content: $icon-manual-therapy; }
.icon-massage:before { content: $icon-massage; }
.icon-monitor:before { content: $icon-monitor; }
.icon-obstetrics:before { content: $icon-obstetrics; }
.icon-organ:before { content: $icon-organ; }
.icon-person:before { content: $icon-person; }
.icon-search:before { content: $icon-search; }
.icon-socket:before { content: $icon-socket; }
.icon-tw:before { content: $icon-tw; }
.icon-user:before { content: $icon-user; }
