.icon-arr-d {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrs-l {
  width: 1.11em;
  height: 1em;
  fill: initial;
}
.icon-arrs-r {
  width: 1.11em;
  height: 1em;
  fill: initial;
}
.icon-brain {
  width: 1.09em;
  height: 1em;
  fill: initial;
}
.icon-card {
  width: 0.79em;
  height: 1em;
  fill: initial;
}
.icon-cards {
  width: 0.9em;
  height: 1em;
  fill: initial;
}
.icon-caret-l {
  width: 0.62em;
  height: 1em;
  fill: initial;
}
.icon-caret-r {
  width: 0.62em;
  height: 1em;
  fill: initial;
}
.icon-checked {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-dermatology {
  width: 0.94em;
  height: 1em;
  fill: initial;
}
.icon-endocrinology {
  width: 0.94em;
  height: 1em;
  fill: initial;
}
.icon-eye {
  width: 1.67em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: initial;
}
.icon-fb {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-gynecology {
  width: 1.1em;
  height: 1em;
  fill: initial;
}
.icon-heartrate {
  width: 1.26em;
  height: 1em;
  fill: initial;
}
.icon-ig {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-loc {
  width: 0.83em;
  height: 1em;
  fill: initial;
}
.icon-logo {
  width: 3.04em;
  height: 1em;
  fill: initial;
}
.icon-manual-therapy {
  width: 0.44em;
  height: 1em;
  fill: initial;
}
.icon-massage {
  width: 1.04em;
  height: 1em;
  fill: initial;
}
.icon-monitor {
  width: 1.12em;
  height: 1em;
  fill: initial;
}
.icon-obstetrics {
  width: 0.99em;
  height: 1em;
  fill: initial;
}
.icon-organ {
  width: 1.3em;
  height: 1em;
  fill: initial;
}
.icon-person {
  width: 1.06em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-socket {
  width: 0.97em;
  height: 1em;
  fill: initial;
}
.icon-tw {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-user {
  width: 1em;
  height: 1em;
  fill: initial;
}
